{% extends "organization/edit_base.html" %}

{% block subtitle %}{{ _('Members') }} - {{ super() }}{% endblock %}

{% block breadcrumb_content %}
<li><div class="icon-lnr-chevron-right arrow-right ckan"></div></li>
<li>{% link_for _('Organizations'), controller='organization', action='index' %}</li>
{%  block breadcrumb_content_inner %}
<li><div class="icon-lnr-chevron-right arrow-right ckan"></div></li>
<li>{% link_for c.group_dict.title, controller='organization', action='read', id=organization.name %}</li>
<li><div class="icon-lnr-chevron-right arrow-right ckan"></div></li>
<li class="active">{% link_for _('Members'), controller='organization', action='edit', id=organization.name %}</li>
{% endblock %}
{% endblock %}

{% block content_action %}
{% endblock %}

{% block page_primary_action %}
<div id="org-members-add">
    {% if h.check_access('group_member_create', {'id': c.group_dict.id}) %}
        {% link_for _('Add Member'), controller='organization', action='member_new', id=c.group_dict.id, class_='cadasta-button right' %}
    {% endif %}
</div>
    {% endblock %}

{% block content_primary_nav %}
<div class="org-header">
    <div>
        <img src="{{ c.group_dict.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" alt="{{ c.group_dict.name }}">
    </div>
    <span>{{ c.group_dict.title }}</span>
    {% if h.check_access('organization_update', {'id': c.group_dict.id}) %}
    <a href="/organization/edit/{{c.group_dict.name}}">edit</a>
    {% endif %}
</div>
<div class="org-tab-header">
    {{ h.build_nav('organization_read', _('OVERVIEW'), id=c.group_dict.name) }}
    <li class="active-org-nav"><span>MEMBERS</span></li>
</div>
{% endblock %}

{% block primary_content_inner %}
<table id="member-table" class="table">
    <col width="70" />
    <col width="40" />
    <col width="20" />
    <thead>
    <tr>
        <th scope="col">{{ _('User') }}</th>
        <th scope="col">{{ _('Role') }}</th>
        <th scope="col">Management</th>
    </tr>
    </thead>
    <tbody>
    {% for user_id, user, role in c.members %}
    <tr>
        <td class="media">
            {{ h.linked_user(user_id, maxlength=20) }}
        </td>
        <td>{{ role }}</td>
        <td>
            {% set locale = h.dump_json({'content': _('Are you sure you want to delete this member?')}) %}
            <div class="">
                {% if h.check_access('group_member_create', {'id': c.group_dict.id}) %}
                <a class="manage-button" href="{% url_for controller='organization', action='member_new', id=c.group_dict.id, user=user_id %}" title="{{ _('Edit') }}">
                    Edit
                </a>
                {%  endif %}
                {% if h.check_access('group_member_delete') %}
                <a class="manage-button right red-button" href="{% url_for controller='organization', action='member_delete', id=c.group_dict.id, user=user_id %}" data-module="confirm-action" data-module-i18n="{{ locale }}" title="{{ _('Delete') }}">{% block delete_button_text %}Delete{% endblock %}</a>
                {% endif %}
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
