{% extends "organization/base_form_page.html" %}

{% block subtitle %}{% endblock %}

{% block breadcrumb_link %}
{{ h.nav_link(_('Create an Organization'), controller='organization', action='edit', id=c.organization.name) }}
{% endblock %}



{% block page_header %}<div class="new-addition-title">NEW ORGANIZATION</div>{% endblock %}

{% block breadcrumb_content_inner %}
<li><div class="icon-lnr-chevron-right arrow-right ckan"></div></li>
<li class="active"><a href="#">{{ _('Create an Organization') }}</a></li>
{% endblock %}

{% block secondary_content %}
{% endblock %}