#breadcrumb {
    height:25px;
}

#breadcrumb .crumb-content {
    padding: 2px 0px;
}

#breadcrumb .icon-home {
    font-size: 16px;
    bottom: 8px;
    color: #256c97;
    position: relative;
}

#breadcrumb .icon-home a {
    color: #256c97;
}

.arrow-right {
    font-size: 28px;
    color: #dcdfe1;
    position: relative;
    bottom: 4px;
}

#breadcrumb .title {
    font-family: "Open Sans";
    font-size: 10px;
    margin: 0px 0px 0px 12px;
    position: relative;
    bottom: 11px;
    font-weight: bold;
}

#breadcrumb .active {
    font-weight: 600;
    color: #8b8b8b;
    cursor: default;
}

