div{
    outline:none;
}

*:focus {
    outline: none;
}

.ng-cloak {
    display:none;
}
div.hovercode {
    display:none;
    outline: none;
}

a {
    color:#256c97;
}

.hovertrigger .hovercode {
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
}

div.tabcontent {
    height: auto;
    overflow:  hidden;
}

.small-heading {
    color: #256c97;
    font-size:12px;
    font-weight:bold;
    display: inline-block;
    text-transform: uppercase;
}

.organization-overview-page .small-heading {
    padding: 0px 0px 10px 25px;
}

.project-overview-page .small-heading {
    padding: 0px 0px 10px 25px;
}

.outlines {
    margin: 5px;
    padding: 10px 5px;
    border: 2px solid black;
}


.small-table-container {
    padding:10px 12px;
}

.blue {
    color: #256c97;
}

.masthead-header span {
    padding-right: 105px;
    display: inline-block;
    float: left;
}


.pull-right {
    float: right;
    margin-right: 70px;
    padding-top:12px;
}

.container-footer .pull-left {
    margin-top: 14px;
    height: 30px;
}

.grey-btn {
    background-color: #F2F2F2;
    border: 1px solid #6E6F70;
    border-radius: 1px;
    font-size: 12px;
    padding: 5px 12px 5px 12px;
    color:#6E6F70;
    font-weight: 500;
}

.cadasta-round-button {
    background-color: #256c97;
    color: white;
    max-height:28px;
    cursor: pointer;
    border-radius:0;
    padding: 6px 10px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
}

.cadasta-round-button:hover {
    background-color: #0d4252;
}

.select-all-button {
    background-color: #256c97;
    color: white;
    padding: 3px 15px;
    font-weight: 600;
    max-height:28px;
    cursor: pointer;
    width: 70px;
}

.select-all-button:hover{
    background-color: #0d4252;
}

.select-all-text {
    text-align: center;
}

.select-all-wrapper {
    margin-bottom: 10px;
}

md-dialog > form {
    overflow:hidden;
}

.float-right {
    float:right;
}

md-dialog {
    max-height: 95%;
    max-width: 860px;
}

p.popup-text {
    font-size:12px;
}

.font-red {
    color:red;
}

.md-select-menu-container.md-active md-select-menu {
    min-width: 200px;
}

#ag-table {
    height: 458px;
    width: 100%;
}

.field-datum #ag-table {
    height: 350px;
    width: 830px;
}



#fieldDataList{
    font-size: 12px;
    width: 100%;
    max-height: 400px;
    overflow: auto;
}

#fieldDataList tbody tr {
    border-bottom: 1px solid #dcdfe1;
    height: 50px;
}

#fieldDataList .last-table-element {
    border-bottom: none;
}

#fieldDataList tbody {
    height:200px;
    overflow-y: auto;
}

#fieldDataList .row-link{
    cursor: pointer;
}

#fieldDataList .row-link:hover {
    background-color:#f8f9f9
}

#fieldDataList table{
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: white;
}

#fieldDataList th {
    height: 30px;
}

#fieldData-table-header {
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: white;
}

#fieldData-table-header th {
    font-size: 12px;
    color: white;
    background-color: #51617A;
    font-weight: 400;
    text-align: center;
    padding: 8px;
    line-height: 20px;
}

.back-link {
    font-weight: 700;
    margin: -5px 0 0 35px;
    line-height: 45px;
    font-size: 12px;
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}
.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}


.selected-text {
    border: 1px solid #dcdfe1;
    padding:4px;
    height: 20px;
}

.font-green {
    color:green;
}

#field-data-upload {
    background-color: #dcdfe1;
    margin-bottom: 20px;
    padding: 15px;
}


.field-data .cadasta-round-button {
    margin-bottom: 10px;
    width: 55px;
}

.field-data .cadasta-button {
    width: 125px;
    display: inline-block;
    margin-right: 16px;
    text-align: center;
}


.cancel {
    padding: 10px 0;
    margin: -33px -48px 0 0;
    cursor: pointer;
    font-weight: 600;
}


.md-select-menu-container.md-default-theme.md-active.md-clickable {
    left: 840px;
    top: 381px;
}

md-input-container textarea{
    border: 1px solid #dcdfe1 !important;
}
md-input-container.md-input-focused textarea {
    border: 1px solid rgb(63,81,181) !important;
}

md-input-container input{
    border: 1px solid #dcdfe1 !important;
}
md-input-container.md-input-focused input {
    border: 1px solid rgb(63,81,181) !important;
}