#project-tabs {
    background-color: #f8f9f9;
    padding-left: 25px;
    border-left:1px solid #dcdfe1;;
    border-right: 1px solid #dcdfe1;
}

#project-tabs li {
    margin-right:40px;
    cursor: pointer;
}

#project-tabs li:hover {
    border-bottom: 2px solid #256c97;
}

#project-tabs li:hover * {
    text-decoration:none;
    color:#256c97;
    border-style: none;
}

#project-tabs li a {
    color:#2d3644;
    font-weight: 400;
    font-size: 12px;
}

#project-tabs li.active {
    border-bottom: 2px solid #256c97;
}


#project-tabs li.active {
    border-bottom: 2px solid #256c97;
}

#project-tabs li.active * {
    color:#256c97;
    text-decoration:none;
    font-weight: bold;
}


/*HEADER CSS*/
#header{
    height: 86px;
    border-left:1px solid #dcdfe1;
    border-right: 1px solid #dcdfe1;
    border-top:1px solid #dcdfe1;
    background-color: #f8f9f9;
}


#project-header .project-title {
    font-size: 18px;
    color: #2d3644;
    margin:18px 0 0 25px;
}
