.project-tab-data {
    max-height: 500px;
    overflow: scroll;
    margin: 0 0 20px 13px;
}

.parcel-history .button-controller {
    height:60px;
}

.resources .parcel-history table * {
    text-align: center;
}

.menudemoBasicUsage .md-menu-demo {
    padding: 24px; }

.menudemoBasicUsage .menu-demo-container {
    min-height: 200px; }

.overview-background.resources {
    background-color: white;
    border: 1px solid #dcdfe1;
}


.parcel-history thead {
    border-bottom: 1px solid #dcdfe1;
}

.resources .parcel-history th {
    border-bottom: none;
}

.resources .button-controller md-input-container{
    width: 200px;
    display: inline-block;
}

.resources .button-controller{
   margin: -30px 0 25px 12px;
}

md-select .md-select-value.md-select-placeholder {
    color: #2d3644;;
}

.button-controller.activity-tab {
    margin: -35px 0 7px 9px;
    width: 200px;
}

.project-tab-data li.activity-block {
    width:98%;
}