body {
    margin-bottom: 30em;
}
.ng-cloak {
    display:none;
}
div.hovercode {
    display:none;
    outline: none;
}

.hovertrigger .hovercode {
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
}

div.tabcontent {
    height: auto;
    overflow-y:  scroll;
}

.outlines {
    margin: 5px;
    padding: 10px 5px;
    border: 2px solid black;
}


.small-table-container {
    padding:10px 12px;
}