{% extends "project/read_base.html" %}

{% set pkg = c.pkg_dict %}

{% block breadcrumb_content %}
  {{ super() }}
  <li><div class="icon-lnr-chevron-right"></div></li>
  <a class='active' href="/dataset/{{c.id}}/parcels">Parcels</a>
{% endblock %}

{% block header_buttons %}
{% endblock %}

{% block primary_nav_tabs %}
  <li><a  href="/project/{{ pkg.name }}">OVERVIEW</a></li>
  <li class="active-nav">PARCELS</li>
  <li><a  href='map'>MAP</a></li>
  <li><a  href='surveys'>SURVEYS</a></li>
  <li><a  href='resources'>RESOURCES</a></li>
  <li><a  href='activity_stream'>ACTIVITY STREAM</a></li>
{% endblock %}

  {% block primary_content_inner %}
    <a href='/dataset/{{ pkg.name }}/new/parcel'><div class="add-project-element icon-icon_add_parcel"></div></a>

  <div id="project-content">
        <!-- Use Nunjucks templates here in .js -->
        <div class="filter-box clearfix">
            <form method="get">
                <div class="left">
                    <div class="filter-group">
                         <label for="filter">Tenure Type</label>
                         <select id="tenure_type" name="tenure_type" class="sort-box" onchange="$('#FilterForm').submit()">
                              <option value="" {% if tenure_type=='None' %} selected="selected"{% endif %}>All Types</option>
                              <option value="lease" {% if tenure_type=='lease' %} selected="selected"{% endif %}>Leased Parcels</option>
                              <option value="own" {% if tenure_type=='own' %} selected="selected"{% endif %}>Owned Parcels</option>
                              <option value="occupy" {% if tenure_type=='occupy' %} selected="selected"{% endif %}>Occupied Parcels</option>
                              <option value="informal occupy" {% if tenure_type=='informal occupy' %} selected="selected"{% endif %}>Informally Occupied Parcels</option>
                         </select>
                    </div>
                    <div class="filter-group">
                         <label for="sort">Sort By</label>
                         <select name="sort" class="sort-box" onchange="this.form.submit()">
                              <option value="">None</option>
                              <option>Parcel ID</option>
                              <option>Number of Active Relationships</option>
                              <option>Date Created</option>
                         </select>
                    </div>
                </div>

            <div class="right">
                    <input class="search" type="text" name="q" placeholder="{{ _('Search') }}" />
                    <noscript><input type="submit" value="Submit"></noscript>
            </div>
            </form>

        </div>
      <!-- Use Nunjucks templates here in .js -->

      <div id="nunjuck-parcel-list"></div>
  </div>

    {% resource 'project/nunjucksmin.js' %}
    {% resource 'project/getQueryString.js' %}
    {% resource 'project/nunjucks_js/parcel_list.js' %}

  {% endblock %}


