{% extends "project/read_base.html" %}

{% set pkg = c.pkg_dict %}


{% set logged_in = true if c.userobj else false %}

{% block breadcrumb_content_selected %} {% endblock %}
{% block breadcrumb_content %}
  {{ super() }}
  <li><div class="icon-lnr-chevron-right"></div></li>
  <a class="active" href="/dataset/{{c.id}}/party/{{ c.party_id }}"> {{ c.party_id }}</a>
{% endblock %}

{% block content_action %}
{% endblock %}

{% block content_primary_nav %}
{% endblock %}

{% block primary_content_inner %}
  <a href='/project/{{c.id}}/edit_party/{{ c.party_id }}' >Edit Party Details</a>

  <br>

    <table id="partyDetailsTable" class="table">
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>First Name: </td>
              <td> {{party.firstname}} </td>
            </tr>
            <tr>
              <td>Last Name: </td>
              <td> {{party.lastname}} </td>
            </tr>
            <tr>
              <td>City: </td>
              <td> {{party.city}} </td>
            </tr>
            <tr>
              <td>State: </td>
              <td> {{party.state}} </td>
            </tr>
            <tr>
              <td>Zipcode: </td>
              <td> {{party.zip}} </td>
            </tr>
            <tr>
              <td>Email: </td>
              <td>{{party.email}} </td>
            </tr>
            <tr>
              <td>Marital Status: </td>
              <td> {{party.marital_status}} </td>
            </tr>
            <tr>
              <td>Education Level: </td>
              <td> {{party.education_level}} </td>
            </tr>
        </tbody>
      </table>
{% endblock %}

{% block secondary_content %}
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}
