{% extends 'page.html' %}


{% block main_content %}
        <div ng-app="app" >
            <div ui-view="breadcrumbs"></div>
            <div ui-view="projectHeader"></div>
            <div ui-view="tabs"></div>
        </div>
    </div>
<!--extra tags are needed to keep footer separate from main body (mismatch in page.html todo)-->
</div>
{% endblock %}

{% block scripts %}
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../vendor/angular/angular.js"></script>
<script type="text/javascript" src="../vendor/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="../vendor/ui-router-extras/release/ct-ui-router-extras.js"></script>
<script type="text/javascript" src="../vendor/angular-aria/angular-aria.min.js"></script>
<script type="text/javascript" src="../vendor/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="../vendor/angular-material/angular-material.min.js"></script>
<script type="text/javascript" src="../vendor/angular-file-upload/dist/angular-file-upload.min.js"></script>


<script type="text/javascript" src="../../build/project-dashboard-app.min.js?rel=1444864425274"></script>

{% endblock %}


{% block links %}
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css' rel='stylesheet' />
<link href='../vendor/angular-material/angular-material.css' rel='stylesheet' />
<link href='../build/project-dashboard-app.min.css?rel=1444864425275' rel='stylesheet' />


{% endblock %}
