{% extends 'page.html' %}


{% block main_content %}
<div ng-app="app" >
    <div ui-view="breadcrumbs"></div>
    <div ui-view="projectHeader"></div>
    <div ui-view="tabs"></div>
</div>
{% endblock %}

{% block scripts %}
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<script type="text/javascript" src="../../shared/vendor/angular/angular.js"></script>
<script type="text/javascript" src="../../shared/vendor/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="../../shared/vendor/ui-router-extras/release/ct-ui-router-extras.js"></script>
<script type="text/javascript" src="../../shared/vendor/angular-aria/angular-aria.min.js"></script>
<script type="text/javascript" src="../../shared/vendor/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="../../shared/vendor/angular-material/angular-material.min.js"></script>
<script type="text/javascript" src="../../shared/vendor/angular-file-upload/dist/angular-file-upload.min.js"></script>


<script type="text/javascript" src="../../build/project-dashboard-app.min.js?rel=1443741164616"></script>

{% endblock %}


{% block links %}
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css' rel='stylesheet' />
<link href='../../shared/vendor/angular-material/angular-material.css' rel='stylesheet' />
<link href='../build/project-dashboard-app.min.css?rel=1443741164616' rel='stylesheet' />


{% endblock %}
