{% extends "project/read_base.html" %}

{% set pkg = c.pkg_dict %}

{% block breadcrumb_content %}
  {{ super() }}
  <li><div class="icon-lnr-chevron-right"></div></li>
  <a href="/dataset/{{c.id}}/parcel/{{ c.parcel_id }}"> {{ c.parcel_id }}</a>
  <li><div class="icon-lnr-chevron-right"></div></li>
  <a class='active' href="/dataset/{{c.id}}/parcel/{{ c.parcel_id }}/relationship_history"> Relationship History</a>
{% endblock %}


   {% block primary_nav_tabs %}
      <li><a  href="/project/{{ pkg.name }}">OVERVIEW</a></li>
      <li class="active-nav">PARCELS</li>
      <li><a  href='../../map'>MAP</a></li>
      <li><a  href='../../surveys'>SURVEYS</a></li>
      <li><a  href='../../resources'>RESOURCES</a></li>
      <li><a  href='../../activity_stream'>ACTIVITY STREAM</a></li>
    {% endblock %}

  {% block primary_content_inner %}

  <a href='/dataset/{{ pkg.name }}/new/parcel'><div class="add-project-element icon-icon_add_parcel"></div></a>

  <div id="project-content">
    <div>
        <div class="filter-box clearfix">
            <form method="get">
                <div class="left">
                    <div class="filter-group">
                         <label for="relationship_type">Relationship Type</label>
                         <select name="relationship_type" class="sort-box" onchange="this.form.submit()">
                              <option value="" {% if relationship_type=='None' %} selected="selected"{% endif %}>All Types</option>
                              <option value="lease" {% if relationship_type=='lease' %} selected="selected"{% endif %}>Leased Parcels</option>
                              <option value="own" {% if relationship_type=='own' %} selected="selected"{% endif %}>Owned Parcels</option>
                              <option value="occupy" {% if relationship_type=='occupy' %} selected="selected"{% endif %}>Occupied Parcels</option>
                              <option value="informal occupy" {% if relationship_type=='informal occupy' %} selected="selected"{% endif %}>Informally Occupied Parcels</option>
                         </select>
                    </div>
                    <div class="filter-group">
                         <label for="active">Status</label>
                         <select name="active" class="sort-box" onchange="this.form.submit()">
                              <option value="" {% if active=='None' %} selected="selected"{% endif %}>All</option>
                              <option value="true" {% if active=='true' %} selected="selected"{% endif %}>Active/Current</option>
                              <option value="false" {% if active=='false' %} selected="selected"{% endif %}>Inactive/Historical</option>
                         </select>
                    </div>
                    <div class="filter-group">
                         <label for="sort">Sort By</label>
                         <select name="sort" class="sort-box" onchange="this.form.submit()">
                              <option value="">None</option>
                              <option>Parcel ID</option>
                              <option>Party/Name</option>
                              <option>Relationship Type</option>
                              <option>Date Created</option>
                         </select>
                    </div>
                </div>

            <div class="right">
                    <input class="search" type="text" name="q" placeholder="{{ _('Search') }}" />
                    <noscript><input type="submit" value="Submit"></noscript>
            </div>
            </form>

        </div>

        <table id="relationshipHistoryTable" class="table">
        <thead>
            <tr>
                <th></th>
                <th>Parcel ID</th>
                <th>Party</th>
                <th>Relationship Type</th>
                <th>Date Created</th>

            </tr>
        </thead>
        <tbody>
        {% if relationship_list.features %}
          {% for relationship in relationship_list.features %}
            <tr>
              <td><a href='../../relationships/{{ relationship.properties.relationship_id }}'>Relationsihp Details</a></td>
              <td> {{ relationship.properties.parcel_id }} </td>
              <td> {{ relationship.properties.first_name }}  {{ relationship.properties.last_name }}</td>
              <td> {{ relationship.properties.relationship_type }} </td>
              <td> {{ relationship.properties.time_created }} </td>
            </tr>
          {% endfor %}

        {% else %}
            <tr>
              <td colspan="5">No relationships found.</td>
            </tr>
        {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  {% endblock %}