{% extends "project/read_base.html" %}

{% set pkg = c.pkg_dict %}

{% block breadcrumb_content %}
  {{ super() }}
  <li><div class="icon-lnr-chevron-right"></div></li>
  <a href="/dataset/{{c.id}}/surveys" class="active"> Resources</a>
{% endblock %}

{% block primary_nav_tabs %}
      <li><a  href="/project/{{ pkg.name }}">OVERVIEW</a></li>
      <li><a  href='parcels'>PARCELS</a></li>
      <li><a  href='map'>MAP</a></li>
      <li><a  href='surveys'>SURVEYS</a></li>
      <li  class="active-nav">RESOURCES</li>
      <li><a  href='activity_stream'>ACTIVITY STREAM</a></li>
{% endblock %}


{% block primary_content_inner %}
<a href='/project/new_resource/{{ pkg.name }}'><div class="add-project-element icon-icon_add_parcel"></div></a>

<div id="project-content">
    <div id="summary-list">
        <div id="nunjuck-resource-list"></div>
    </div>
    {% resource 'project/nunjucksmin.js' %}
    {% resource 'project/nunjucks_js/resource_list.js' %}

</div>
{% endblock %}
