<!--This is the project list page-->

{% extends "package/search.html" %}
{% import 'macros/form.html' as form %}


{% block subtitle %}{{ _("projects") }}{% endblock %}

{% block breadcrumb_content %}
<li><div class="icon-lnr-chevron-right arrow-right ckan"></div></li>
<li>{% link_for _('Projects'), controller='package', action='search' %}</li>
{% endblock %}


{% block page_primary_action %}
{% endblock %}

{% block form %}

  {% set facets = {
    'fields': c.fields_grouped,
    'search': c.search_facets,
    'titles': c.facet_titles,
    'translated_fields': c.translated_fields,
    'remove_field': h.facet_remove_field }
  %}
  {% set sorting = [
    (_('Relevance'), 'score desc, metadata_modified desc'),
    (_('Name Ascending'), 'title_string asc'),
    (_('Name Descending'), 'title_string desc'),
    (_('Last Modified'), 'metadata_modified desc'),
    (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
  %}



  {% snippet 'project/snippets/project_search_form.html', type='project', placeholder=_('Search projects...'), query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields, no_bottom_border=true %}
{% endblock %}


{% block package_search_results_list %}

{% if not no_title %}
<table id="project-list-table-header">
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Last Modified</th>
  </tr>
  </thead>
</table>
{% endif %}

  {{ h.snippet('project/snippets/project_list.html', packages=c.page.items) }}
{% endblock %}



{% block package_search_results_api %}
{% endblock %}

{% block secondary_content %}
{% endblock %}
