{% extends "package/search.html" %}
{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _("projects") }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('projects'), controller='ckanext.project.controller:projectController', action='search', highlight_actions = 'new index') }}</li>
{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('ckanext_project_create') %}
    <div class="page_primary_action">
      {% link_for _('Add project'), controller='ckanext.project.controller:projectController', action='new', class_='cadasta-button', icon='plus-sign-alt' %}
    </div>
  {% endif %}
{% endblock %}

{% block form %}
  {% set facets = {
    'fields': c.fields_grouped,
    'search': c.search_facets,
    'titles': c.facet_titles,
    'translated_fields': c.translated_fields,
    'remove_field': h.facet_remove_field }
  %}
  {% set sorting = [
    (_('Relevance'), 'score desc, metadata_modified desc'),
    (_('Name Ascending'), 'title_string asc'),
    (_('Name Descending'), 'title_string desc'),
    (_('Last Modified'), 'metadata_modified desc'),
    (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
  %}
  {% snippet 'project/snippets/project_search_form.html', type='project', placeholder=_('Search projects...'), query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields, no_bottom_border=true %}
{% endblock %}

{% block package_search_results_list %}
  {{ h.snippet('project/snippets/project_list.html', packages=c.page.items) }}
{% endblock %}

{% block package_search_results_api %}
{% endblock %}

{% block secondary_content %}
{{ h.snippet('project/snippets/helper.html') }}
<div class="filters">
  <div>
    {% for facet in c.facet_titles %}
      {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
    {% endfor %}
  </div>
  <a class="close no-text hide-filters"><i class="icon-remove-sign"></i><span class="text">close</span></a>
</div>
{% endblock %}
