{% extends "package/search.html" %}
{% import 'macros/form.html' as form %}

{% set dataset_type_title = dataset_type.title() %}

{% block subtitle %}{{ _("Projects") }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Projects'), named_route='project_search', highlight_actions = 'new index') }}</li>
{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('package_create') %}
    <div class="page_primary_action">
      {% link_for _('Add Project'), named_route='project_new', class_='btn btn-primary', icon='plus-sign-alt' %}
    </div>
  {% endif %}
{% endblock %}

{% block package_search_results_list %}
  {{ h.snippet('project/snippets/project_list.html', packages=c.page.items) }}
{% endblock %}
