{% extends "project/read_base.html" %}

{% set pkg = c.pkg_dict %}

{% block breadcrumb_content %}
  {{ super() }}
  <li><div class="icon-lnr-chevron-right"></div></li>
  <a href="/dataset/{{c.id}}/surveys" class="active"> Surveys</a>
{% endblock %}

{% block primary_nav_tabs %}
      <li><a  href="/project/{{ pkg.name }}">OVERVIEW</a></li>
      <li><a  href='parcels'>PARCELS</a></li>
      <li><a  href='map'>MAP</a></li>
      <li class="active-nav">SURVEYS</li>
      <li><a  href='resources'>RESOURCES</a></li>
      <li><a  href='activity_stream'>ACTIVITY STREAM</a></li>
{% endblock %}


{% block primary_content_inner %}
<div id="project-content">
        <div class="filter-box clearfix">
            <form method="get">
                <div class="left">
                    <div class="filter-group">
                         <label for="filter">Tenure Type</label>
                         <select name="filter" class="sort-box" onchange="this.form.submit()">
                              <option value="" {% if filter=='None' %} selected="selected"{% endif %}>All Types</option>
                              <option value="lease" {% if filter=='lease' %} selected="selected"{% endif %}>Leased Parcels</option>
                              <option value="own" {% if filter=='own' %} selected="selected"{% endif %}>Owned Parcels</option>
                              <option value="occupy" {% if filter=='occupy' %} selected="selected"{% endif %}>Occupied Parcels</option>
                              <option value="informal occupy" {% if filter=='informal occupy' %} selected="selected"{% endif %}>Informally Occupied Parcels</option>
                         </select>
                    </div>
                    <div class="filter-group">
                         <label for="sort">Sort By</label>
                         <select name="sort" class="sort-box" onchange="this.form.submit()">
                              <option value="">None</option>
                              <option>Parcel ID</option>
                              <option>Number of Active Relationships</option>
                              <option>Date Created</option>
                         </select>
                    </div>
                </div>

            <div class="right">
                    <input class="search" type="text" name="q" placeholder="{{ _('Search') }}" />
                    <noscript><input type="submit" value="Submit"></noscript>
            </div>
            </form>

        </div>

        <table id="surveysTable" class="table">
            <thead>
                <tr>
                  <th>Survey</th>
                  <th>Survey Information</th>
                </tr>
            </thead>
            <tbody>
              {% for survey in survey_list %}
              <tr>
                <td><a href='/project/example-project/surveys/{{survey}}' >{{ survey }}</a></td>
                <td> Additional survey information </td>
              </tr>
              {% endfor %}
            </tbody>
      </table>
    </div>
{% endblock %}
