<footer>
    <div id="master-footer">
        <div class="footer-container">
            <div class="container-inner">
                <div class="container-header">
                <div class="pull-left"> 2015 Cadasta. All Rights Reserved.</div>
                <div class="localization pull-left">
                    <div class="title">Localization</div>
                    <div class="icon-icon_globe_localization globe"></div>
                </div>
                <div class="pull-right">
                    <span class="icon-Logo_notag"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span></span>
                </div>
                </div>
            </div>
        </div>
    </div>
</footer>