<footer>
    <div id="master-footer">
        <div class="footer-container">
            <div class="container-inner">
                <div class="container-header">
                <div class="pull-left"> 2015 Cadasta. All Rights Reserved.</div>
                <div class="localization pull-left">
                    <div class="title">Localization</div>
                    <div class="icon-icon_globe_localization globe"></div>
                </div>
                <div class="pull-right">
                    <div class="icon-logo_footer logo" title="{{ g.site_title }}"></div>
                </div>
                </div>
            </div>
        </div>
    </div>
</footer>