<div id="master-footer">
    <div class="container-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="pull-left"> 2015 Cadasta. All Rights Reserved.</div>
                </div>
                <div class="col-md-6">
                    <!--<div class="localization pull-left">-->
                    <!--<span class="title">Localization</span>-->
                    <!--<div class="icon-icon_globe_localization globe"></div>-->
                    <!--</div>-->
                    <div class="right-footer">
                        <!--
                        <span class="icon-Logo_notag"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span>
                        <span class="path9"></span>
                        </span>
                    -->
                    <img src="/images/cadasta.png" width="100px"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block footer_debug %} {% if g.debug %} {% include 'snippets/debug.html' %} {% endif %} {% endblock %}
