
<header>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span id="header-logo">
          <a class="navbar-brand" href="{{ h.url('home') }}"><div class="icon-logo_header" title="{{ g.site_title }}"></div></a>
        </span>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          {{ h.build_nav_main(
          ('project_search', _('Projects')),
          ('organizations_index', _('Organizations'))
          ) }}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>




    <!--
    <div class="header-container">
        <div id="header-container-inner">
            <div class="container-header">




            <span id="header-logo">
                <a href="{{ h.url('home') }}"><div class="icon-logo_header" title="{{ g.site_title }}"></div></a>
            </span>

          <span>
              <ul id="nav-items">
                  {{ h.build_nav_main(
                  ('project_search', _('Projects')),
                  ('organizations_index', _('Organizations'))
                  ) }}
              </ul>
          </span>

                <div class="profile-options-dropdown">
                    <div id="header-profile-options">

                        <div id="usersName"> {{ c.userobj.fullname }}</div>
                        <div id='profile_options'>
                            <div class="icon-icon_profile"></div>
                        </div>
                    </div>
                    <div id="sub-nav">
                        {% if c.userobj %}
                        <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image"
                           title="{{ _('View profile') }}">
                            <div class="dropdown-item">View Profile</div>
                        </a>
                        <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}"
                           title="{{ _('Edit settings') }}">
                            <div class="dropdown-item">Cadasta Settings</div>
                        </a>
                        <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                            <div class="dropdown-item">Log out</div>
                        </a>

                        {% else %}
                        <a href="{{ h.url_for('/user/login') }}" title="{{ _('Log in') }}">
                            <div class="dropdown-item">Log in</div>
                        </a>

                        {% if h.check_access('user_create') %}
                        <a href="{{ h.url_for('/user/register') }}" title="{{ _('Register') }}">
                            <div class="dropdown-item">Register</div>
                        </a>

                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
  -->
</header>

