
<header class="masthead-header">
    <div class="header-container">


        <!--<div class="nav-collapse collapse">-->
        <div id="header-container-inner">
            <div class="container-header">
            <span id="header-logo">
                <a href="{{ h.url('home') }}"><div class="icon-logo_header" title="{{ g.site_title }}"></div></a>
            </span>

                <!--<nav class="section navigation">-->
          <span>
              <ul id="nav-items">
                  {{ h.build_nav_main(
                  ('project_search', _('Projects')),
                  ('organizations_index', _('Organizations'))
                  ) }}
                  <li><a href="{{ h.url_for(controller='package', action='search') }}">Activity</a></li>


              </ul>
          </span>

                <div class="profile-options-dropdown">
                    <div id="header-profile-options">

                        <div id='about-button'><a class="active"
                                                  href="{{ h.url_for(controller='home', action='action') }}">
                            <div class="icon-icon_info"></div>
                        </a></div>
                        <div id='profile_options'>
                            <div class="icon-icon_profile"></div>
                        </div>
                    </div>
                    <div id="sub-nav">
                        {% if c.userobj %}
                        <div class="dropdown-item">
                            <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image"
                               title="{{ _('View profile') }}">View Profile</a>
                        </div>
                        <div class="dropdown-item">
                            <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}"
                               title="{{ _('Edit settings') }}">Cadasta Settings</a>
                        </div>
                        <div class="dropdown-item">
                            Change Language
                        </div>
                        <div class="dropdown-item">
                            <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">Log out</a>
                        </div>
                        {% else %}
                        <div class="dropdown-item">
                            <li>{% link_for _('Log in'), controller='user', action='login' %}</li>
                        </div>
                        {% if h.check_access('user_create') %}
                        <div class="dropdown-item">
                            <li>{% link_for _('Register'), controller='user', action='register', class_='sub' %}</li>
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>

</header>

