{% extends "base.html" %}

{%- block page -%}

{% block skip %}
<div class="hide"><a href="#content">{{ _('Skip to content') }}</a></div>
{% endblock %}

{#
Override the header on a page by page basis by extending this block. If
making sitewide header changes it is preferable to override the header.html
file.
#}
{%- block header %}
{% include "header.html" %}
{% endblock -%}

{# The content block allows you to replace the content of the page if needed #}
{%- block content %}
{% block maintag %}
<div id='main-div' role="main">{% endblock %}
  <div id="content" class="container">
    {% block main_content %}
    {% block flash %}
    <div class="flash-messages">
      {% block flash_inner %}
      {% for message in h.flash.pop_messages() | list %}
      <div class="alert fade in {{ message.category }}">
        {{ h.literal(message) }}
      </div>
      {% endfor %}
      {% endblock %}
    </div>
    {% endblock %}

    {% block toolbar %}
    <div id="breadcrumb" class="toolbar">
      {% block breadcrumb %}
      {% if self.breadcrumb_content() | trim %}
      <ol class="breadcrumb">
        {% snippet 'snippets/home_breadcrumb_item.html' %}
        {% block breadcrumb_content %}{% endblock %}
      </ol>
      {% endif %}
      {% endblock %}
    </div>
    {% endblock %}

    <div class="row1 clearfix {% block wrapper_class %}{% endblock %}{% if self.secondary()|trim == '' %} no-nav{% endif %}">

      {% block primary %}
      <div class=" span9">
        {% block primary_content %}
        <div class="header-primary">
          {% block page_header %}
          <header class="page-header-new">
            {% if self.content_action() | trim %}
            <div class="content_action">
              {% block content_action %}{% endblock %}
            </div>
            {% endif %}
            {% block content_primary_nav %}{% endblock %}
          </header>
          {% endblock %}
          <div>
            {% if self.page_primary_action() | trim %}
            <div class="page_primary_action">
              {% block page_primary_action %}{% endblock %}
            </div>
            {% endif %}
            {% block primary_content_inner %}
            {% endblock %}
          </div>
        </div>
        {% endblock %}
      </div>
      {% endblock %}
    </div>
    {% block secondary %}
    <div class="span3">
      {% block secondary_content %}{% endblock %}
    </div>
    {% endblock %}
  </div>
</div>
  {% endblock %}
  {%- block footer %}
  {% include "footer.html" %}
  {% endblock -%}

</div>

{% endblock -%}

{#
Override the footer on a page by page basis by extending this block. If
making sitewide header changes it is preferable to override the footer.html-u
file.
#}

{%- endblock -%}

{%- block scripts %}
{% resource 'base/main' %}
{% resource 'base/ckan' %}
{% resource 'project/custom_jquery.js' %}
{% if g.tracking_enabled %}
{% resource 'base/tracking.js' %}
{% endif %}

<!--favicon-->
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

{{ super() }}
{% endblock -%}