<md-dialog aria-label="Upload Resource" class="cadasta-modal resources">
    <form>
        <md-dialog-content>

            <div class="form_upload_content">
                <div class="cadasta-modal-header">
                    <div class="small-heading">
                        Add Resource
                    </div>
                    <div class="right">
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <i class="material-icons right">clear</i>
                        </md-button>
                    </div>
                </div>
                <div class="modal-content">
                    <div>
                        <p>Freegan lo-fi meggings, tofu Intelligentsia sriracha letterpress organic street art VHS put a
                            bird on it wolf chillwave. Twee XOXO church-key, typewriter listicle YOLO dreamcatcher
                            normcore Banksy Kickstarter freegan fanny pack Shoreditch. Squid deep v raw denim High Life
                            cray, letterpress chambray typewriter Helvetica butcher biodiesel pour-over XOXO trust fund.
                            Mixtape readymade typewriter drinking vinegar letterpress American Apparel, kale chips
                            Carles 90's mumblecore direct trade aesthetic gastropub 8-bit pug.
                        </p>
                        <br><br>
                    </div>


                    <div>
                        <form id="S3_Form" action="." method="POST" enctype="multipart/form-data">
                            <input type="file" name="filedata">
                            <br>
                            <button type="submit" ng-click="uploadParcelResource" class="grey-btn">Upload file and import</button>
                        </form>
                    </div>
                </div>


            </div>


        </md-dialog-content>
    </form>
</md-dialog>
