<md-dialog aria-label="Mango (Fruit)">
    <form>
        <!--<md-toolbar>-->
            <!--<div class="md-toolbar-tools">-->
                <!--<h2>Mango (Fruit)</h2>-->
                <!--<span flex></span>-->
                <!-- -->
            <!--</div>-->
        <!--</md-toolbar>-->
        <md-dialog-content style="max-width:800px;max-height:810px; ">

            <div id="form_upload_content">

                <div class="small-heading">
                    Add Resource
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <i class="material-icons right">clear</i>
                    </md-button>
                </div>
                <div>
                    Select a file to be uploaded.<br><br>
                </div>



                <div>

                    <form id="S3_Form" action="." method="POST" enctype="multipart/form-data">
                        <input type="file" name="filedata">
                        <button type="submit" class="btn">Upload file and import</button>
                    </form>
                </div>

                <script type="text/javascript">

                    $(document).ready(function () {


                        $('#CSV_Form').submit(function (e) {
                            var data = new FormData(this);

                            $.ajax({
                                url: 'http://54.69.121.180:3000/providers/csv/load',
                                type: 'POST',
                                data: new FormData(this),
                                processData: false,
                                contentType: false,
                                success: handlePOSTResult
                            });
                            e.preventDefault();
                        });


                        $('#GEOJSON_Form').submit(function (e) {
                            $.ajax({
                                url: 'http://54.69.121.180:3000/providers/geojson/load',
                                type: 'POST',
                                data: new FormData(this),
                                processData: false,
                                contentType: false,
                                success: handlePOSTResult
                            });
                            e.preventDefault();
                        });


                        $('#ONA_Form').submit(function (e) {
                            $.ajax({
                                url: 'http://54.69.121.180:3000/providers/ona/load',
                                type: 'POST',
                                data: new FormData(this),
                                processData: false,
                                contentType: false,
                                success: handlePOSTResult
                            });
                            e.preventDefault();
                        });

                        $('#S3_Form').submit(function (e) {
                            var data = new FormData(this);

                            $.ajax({
                                url: 'http://54.69.121.180:3000/resources/1/parcel/3',
                                type: 'POST',
                                data: new FormData(this),
                                processData: false,
                                contentType: false,
                                success: handlePOSTResult,
                                error:function(err){
                                    console.log(err)
                                }
                            });
                            e.preventDefault();
                        });
                    });

                    function handlePOSTResult(data) {

                        if (data && (data.status || data.message)) {
                            if (data.status == 'Data Loaded.' || data.message == "Thanks for the upload.") {
                                //Show message
                                showStatusMessage("Data upload successful.", "success");

                                setTimeout(function(){
                                    //...and redirect to parcels list after 3 seconds
                                    window.location = "parcels";
                                }, 3000)

                            }
                        }
                        else {
                            //Show err message
                            showStatusMessage("Houston, we've had a problem here.", "err");
                        }
                    }

                    /***
                     *
                     * @param message
                     * @param status - string.  success, warning, err
                     */
                    function showStatusMessage (message, status) {
                        //Show message on screen
                        $(".flash-messages").html(message).addClass(status).show();
                    }


                </script>

            </div>


        </md-dialog-content>
        <!--<div class="md-actions" layout="row">-->
            <!--<md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>-->
                <!--More on Wikipedia-->
            <!--</md-button>-->
            <!--<span flex></span>-->
            <!--<md-button ng-click="answer('not useful')" >-->
                <!--Not Useful-->
            <!--</md-button>-->
            <!--<md-button ng-click="answer('useful')" style="margin-right:20px;" >-->
                <!--Useful-->
            <!--</md-button>-->
        <!--</div>-->
    </form>
</md-dialog>
