<div id="parcelDetails">
    <div class="details-container">
        <!-- Overview Start-->
        <div class="overview">

            <div class="back-link">
                <a ui-sref="^.parcellist"><- Back to list</a>
                <div class="button-controller right">
                    <!-- todo add edit buttons to parcel list-->
                    <!--<i class="material-icons blue">add_circle_outline</i>-->
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="title">{{parcel.id}} (alternative ID here)</div>

                    <div class="relationship-container">
                        <!-- Remove bottom border if first element in array-->
                        <div class="parcel-dropdown" ng-repeat="r in relationships"
                             ng-class="{'remove-bottom-border': $index < relationships.length-1 && relationships.length > 0}">
                            <div ng-click="toggleDropdownDetails(r)" class="name">{{r.first_name}} {{r.last_name}}</div>

                            <div ng_show="r.showDropDownDetails" class="dropdown-details">
                                <div class="caption">Tenure Type</div>
                                <div>{{r.relationship_type}}</div>
                                <div class="caption">Date Added</div>
                                <div>{{r.time_created}}</div>
                                <div class="caption">Status</div>
                                <div>{{r.active}}</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="section-map">
                <div id="parcelDetailsMap"></div>
            </div>

        </div>
        <!-- Overview End-->
    </div>

    <!-- Parcel history-->
    <div class="history-container">
        <div class="parcel-history">
            <div class="small-table-container">
                <div class="small-heading">
                    Parcel History
                </div>
                <i class="material-icons right">expand_more</i>
                <table class="parcel-history">
                    <thead>
                    <tr>
                        <th>Delete</th>
                        <th>Parcel Id</th>
                        <th>Date</th>
                        <th>Event</th>
                        <th>Image</th>
                    </tr>
                    </thead>
                </table>
                <div class="parcel-history-data relationship">
                <table>
                    <tbody>
                    <tr ng-repeat="ph in parcel_history">
                        <td><md-checkbox aria-label="Delete"></td>
                        <td>{{ph.id}}</td>
                        <td>{{ph.time_created}}</td>
                        <td>{{ph.description}}</td>
                        <td>View Map</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Relationship history-->
    <div class="history-container">
        <div class="parcel-history">
            <div class="small-table-container">
                <div class="small-heading">
                    Relationship History
                </div>
                <i class="material-icons right">expand_more</i>
                <table class="parcel-history">
                    <thead>
                    <tr>
                        <th>Delete</th>
                        <th>Parcel Id</th>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Image</th>
                    </tr>
                    </thead>
                </table>
                <div class="parcel-history-data">
                    <table>
                        <tbody>
                        <tr ng-repeat="ph in relationship_history">
                            <td><md-checkbox aria-label="Delete"></td>
                            <td>{{ph.properties.id}}</td>
                            <td>{{ph.propertiestime_created}}</td>
                            <td>{{ph.properties.description}}</td>
                            <td>{{ph.properties.relationship_type}}</td>
                            <td>View Map</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Parcel resources-->
    <div class="history-container">
        <div class="parcel-history">
            <div class="small-table-container">
                <div class="small-heading">
                    Parcel Resources
                </div>
                <i class="material-icons right">expand_more</i>
                <table class="parcel-history">
                    <thead>
                    <tr>
                        <th>Delete</th>
                        <th>Resource ID</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Image</th>
                    </tr>
                    </thead>
                </table>
                <div class="parcel-history-data relationship">
                    <table>
                        <tbody>
                        <tr ng-repeat="r in parcelResources.features">
                            <td><md-checkbox aria-label="Delete"></td>
                            <td>{{r.properties.properties.id}}</td>
                            <td>{{r.properties.description}}</td>
                            <td>{{r.properties.time_created}}</td>
                            <td><a href="{{r.properties.url}}">View Resource</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>
