<div class="clearfix" id="overview-background">
    <div id="project-header">

        <div class="project-tab-data">

            <div ng-repeat="activity in allActivities.features">
                <!-- repeat each activity in the list and depending on the type of activity, print a different string-->

                <li ng-if="activity.properties.activity_type === 'parcel'" class="activity-block block" ><span
                        class="bold">Parcel {{ activity.properties.id }}</span> was created at <span class="link">{{ activity.properties.time_created }}</span>
                </li>

                <li ng-if="activity.properties.activity_type === 'party'" class="activity-block block"><span
                        class="bold">Party {{ activity.properties.name }}</span> was created at <span class="link">{{ activity.properties.time_created }}</span>
                </li>

                <li ng-if="activity.properties.activity_type === 'relationship'" class="activity-block block">
                    Relationship between <span class="bold"> {{ activity.properties.name }}</span> and <span class="bold"> parcel {{ activity.properties.id }} </span> was created on <span class="link">{{ activity.properties.time_created }}</span> </li>
            </div>
        </div>

    </div>
</div>
</div>