<div class="navbar navbar-default navbar-static-top" role="navigation">
    <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="tabs.overview">Overview</a></li>
        <li ui-sref-active="active"><a ui-sref="tabs.parcels">Parcels</a></li>
        <li ui-sref-active="active"><a ui-sref="tabs.map">Map</a></li>
    </ul>
</div>

<div class="tabcontent well-lg" sticky-state="tabs.overview" class="col-sm-6"></div>
<div class="tabcontent well-lg" sticky-state="tabs.parcels"    class="col-sm-6"></div>
<div class="tabcontent well-lg" sticky-state="tabs.map"   class="col-sm-6"></div>

