#parcelDetails.overview-background  {
    margin: 0 auto;
    height: auto;
}

.parcel-history {
    margin: auto;
    font-size: 12px;
    color: rgb(133, 140, 146);
    font-weight: 400;
    text-align: left;
    padding: 8px 0px;
    width: 100%;
    line-height: 20px;
}

/*.parcel-history th {*/
     /*border-bottom: 1px solid #dcdfe1;*/
/*}*/

.parcel-history-data {
    font-size: 12px;
    width: 100%;
    max-height: 250px;
    overflow: auto;
}

.parcel-history-data table {
    text-align: left;
    width: 100%;
    margin: auto;
    background-color: white
}

.parcel-history-data tr {
    border-bottom: 1px solid #dcdfe1;
}

.parcel-history-data tr td {
    line-height: 55px;
}


.parcel-history th {
    text-transform: uppercase;
}

#parcelDetailsMap {
    width: 100%;
    height: 100%;
    position: relative;
}

#parcelDetails .overview {
    height: 338px;
    padding: 12px 12px;
    background-color: white;
}

#parcelDetails .parcel-history {
    height: auto;
    background-color: white;
}

#parcelDetails .details-container {
    border: 1px solid #dcdfe1;
}

#parcelDetails .history-container {
    border: 1px solid #dcdfe1;
    margin: 15px 0px 0px 0px;
}

#parcelDetails .parcel-history .small-heading {
    color: #256c97;
    font-size:12px;
    font-weight:bold;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    padding-left:0;
}

#parcelDetails .back-link {
    font-weight: 700;
    margin: -5px 0 0 35px;
    line-height: 45px;
    font-size: 12px;
}

.back-link .material-icons.back_space {
    margin-top: 10px !important;
    margin-left: -28px !important;
    position: absolute !important;
}

#parcelDetails .parcel-dropdown {
    border-bottom: 1px solid #dcdfe1;
    border-top: 1px solid #dcdfe1;
    width: 350px;
}

#parcelDetails .parcel-dropdown.remove-bottom-border {
    border-bottom-style: none;
}

#parcelDetails .parcel-dropdown .caption{
    text-transform: uppercase;
    color: #858c92;
    font-weight: bold;
    width: 100px;
    float: left;
}

#parcelDetails .dropdown-details {
    margin: 0px 0px 10px 0px;
}
#parcelDetails .parcel-dropdown .value{
    color:#dcdfe1
}

#parcelDetails .parcel-dropdown .name{
    padding: 15px 0px;
    color:#858c92;
    font-weight: bold;
    font-size: 14px;
    cursor:pointer;
    outline: none;
}

#parcelDetails .section {
    /*border: 1px solid #dcdfe1;*/
    float: left;
    width: 370px;
    height: 292px;
    display: inline-block;
    margin: 2px 10px 0px 0px;
}

#parcelDetails .section-map {
    border: 1px solid #dcdfe1;
    width: 450px;
    height: 291px;
    display: inline-block;
    margin: 2px 0 0;
    float: right;
}


#parcelDetails .section .relationship-container {
    height: 221px;
    overflow-y: auto;
    width: 500px;
}

#parcelDetails .section .title {
    font-size: 18px;
    color: #2d3644;
    display: inline-block;
    padding: 0 0 18px 0;
}

#parcelDetails .section .container {
    padding: 20px 10px;
    width: 340px;
    height: 240px;
    float:left;
}

#parcelList{
    font-size: 12px;
    width: 100%;
    max-height: 400px;
    overflow: auto;
}

#parcel-table-header {
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: white;
}

#parcelList .row-link{
    cursor: pointer;
}

#parcelList .row-link:hover {
    background-color:#f8f9f9
}

#parcelList table{
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: white;
}

#parcelList th {
    height: 30px;
}

#parcel-table-header th {
    font-size: 12px;
    color: white;
    background-color: #51617A;
    font-weight: 400;
    text-align: center;
    padding: 8px;
    line-height: 20px;
}

#parcelList tbody tr {
    border-bottom: 1px solid #dcdfe1;
    height: 50px;
}

#parcelList .last-table-element {
    border-bottom: none;
}

#parcelList tbody {
    height:200px;
    overflow-y: auto;
}

#parcelFilter {
    padding:10px 25px;
}

#parcelFilter md-input-container {
    padding: 2px;
    margin: 0;
    position: relative;
    bottom: 10px;
}

#parcelFilter .md-title {
    margin: 32px 20px 0px 0px;
}

.material-icons.add {
    padding: 8px 0 0 514px;
    position: relative;
    font-size: 50px;
    color: #256c97;
}


.menudemoMenuWidth .md-menu-demo {
    padding: 24px; }
.menudemoMenuWidth .menu-demo-container {
    min-height: 200px; }
.menudemoMenuWidth .menus {
    width: 100%; }

.parcel-details-menu {
    left:1000px;
}

.md-open-menu-container.md-active {
    opacity: 1;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 200ms;
    top: 454px;
    left: 1225px;
    transform-origin: left top 0px;
}

.md-icon-button.right.parcel-page-layout {
    margin: -16px -33px 0 0;
}

.inputdemoBasicUsage md-datepicker {
    margin-top: 18px; }
.inputdemoBasicUsage .md-datepicker-button {
    height: 36px;
    width: 36px;
    line-height: 36px; }
.inputdemoBasicUsage .md-datepicker-input-container {
    margin-left: 2px; }


.add-relationship .text {
    padding: 24px 20px 0 40px
    margin: auto;
}

.add-relationship md-input-container {
    width:auto;
}

.add-relationship .small-heading {
    padding-left:0;
}

#parcelFilter .cadasta-round-button.right {
    left:470px;
    top:15px;
}