#projectBigMap {
    height: 613px;
}

#legend {
    height: 50px;
    width:100%;
    margin:auto;
    margin-top:10px;
}

#legend .legend-key {
     display:block;
     float:left;
     height:15px;
     width:30px;
     padding-left:20px;
    opacity:.6;

}

#legend .legend-label {
    display:block;
    float:left;
    height:15px;
    width:30px;
    padding: 0 0 0 10px;
    text-align:left;
    font-size:10px;
    color:#2d3644;
    width:85px;
    position: relative;
    bottom: 2px;
}

.legend.clearfix {
    float: right;
    position: relative;
    top: 11px;
}

.material-icons.arrow-forward {
    position: absolute;
    padding: 0 0 0 5px;
    font-size: 21px;
}

.leaflet-popup-content {
    min-width: 130px;
    width:auto;
}




/*.leaflet-zoom-animated path {*/
/*fill-opacity: .2;*/
/*}*/