#projectBigMap {
    height: 613px;
}


#legend {
    height: 50px;
    width:100%;
    margin:auto;
    margin-top:10px;
}

#legend .legend-key {
     display:block;
     float:left;
     height:15px;
     width:30px;
     padding-left:20px;
    opacity:.6;

}

#legend .legend-label {
    display:block;
    float:left;
    height:15px;
    width:131px;
    padding: 0 0 0 4px;
    text-align:left;
    font-size:10px;
    color:#2d3644;
    position: relative;
    bottom: 2px;
}

.add-relationship #legend {
    width: 95%;
    float: left;
    height: 35px;
}

.legend.clearfix {
    float: right;
    position: relative;
    top: 11px;
}

.material-icons.arrow-forward {
    position: absolute;
    padding: 0 0 0 5px;
    font-size: 21px;
}

.leaflet-popup-content {
    min-width: 130px;
    width:auto;
}


#addParcelMap {
    height: 350px;
    width: 95%;
    margin-top: -30px;
}


#editParcelMap {
    height: 375px;
    width: 737px;
    margin-top: -20px;
}


.cadasta-modal.resources .add-relationship  .modal-content {
    margin: 4px 7px 10px 13px;
    box-shadow: none !important;
    border: none !important;
    border-radius: 0px !important;
}

.cadasta-modal.resources .add-relationship  .small-heading {
   margin: 16px 0 0 12px;
}

.add-relationship .right {
    margin-right:40px;
}

