#relationshipDetailsMap {
    width: 100%;
    height: 100%;
    position: relative;
}

.add-party md-input-container.pin-id {
    width: auto;
    margin-right: 25px;
    padding:0;
}

.add-party md-input-container.pin-id.group-name {
    display: block;
    width: 772px;
}



.add-party md-radio-group .party-type{
    padding-left:15px;
    font-size:12px;
    font-weight: 600;
}

.add-party .cadasta-modal-header .small-heading {
    padding-left:14px;
}

#partyDetailsMap {
    width: 100%;
    height: 100%;
    position: relative;
}


#addRelationshipMap {
    width: 780px;
    height: 300px;
    position: relative;
    margin-top: -40px;
}

.add-relationship md-input-container.add-relationship-format {
    width: 300px;
    padding-right: 18px;
 }

.add-relationship md-input-container.add-relationship-format input {
    width: 100%;
    border: 1px solid #dcdfe1;
}

md-datepicker.add-relationship-format {
    margin-left: -15px;
}

md-datepicker.add-relationship-format.party .md-datepicker-input-container {
    width:273px;
}


md-datepicker.add-relationship-format .md-datepicker-input {
    width: 241px;
}

.add-relationship .resource-upload-error {
    margin-top: 60px;
}


#editRelationshipMap {
    width: 737px;
    height: 315px;
    margin-top: -35px;
}

.cadasta-round-button.right.relationship {
    left: 430px !important;
}

.cadasta-round-button.right.relationship-page-layout {
    margin: -5px 20px 0 0;
}


md-input-container.relationship-notes textarea {
    height: 80px!important;
    width: 450px;
    margin-left: -5px;
    border: 1px solid #dcdfe1;
    box-shadow: none;
}

.md-datepicker-input-container {
    width: 276px;
    margin-left: 12px;
    height: 26px;
    margin-bottom: 35px;
}


#parcelDetails.party .section .relationship-container {
    height: 132px;
    overflow-y: auto;
    overflow-x:hidden;
    width: 366px;
}


.add-relationship md-input-container.add-relationship-format input.datebox {
    display: inline-block;
    width: 33px;
    margin: 0 10px 0 10px;
}

#custom-date-picker .btn-sm, .btn-group-sm>.btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

#custom-date-picker .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

#custom-date-picker .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#ag-table input[type="text"] {
    margin: -30px 0 24px 20px;
}


#ag-table .ag-blue .ag-header-cell-label {
    margin-top:4px;
}


.add-relationship #ag-table{
    height: 330px;
}


.add-relationship #ag-table input[type="text"] {
    margin: -57px 0 24px 408px;
}


.date-selected {
    font-weight: 900;
}

#DrawRelationshipMap p {
    padding-bottom: 16px;
}