.span3 {
    width: 100%;
    margin:0;
    margin-top: 13px;
}

#project-header {
    height:auto;
    margin: 20px 12px 12px 12px;
    font-family: "Open Sans";
}

#project-resource-summary {
    float:right;
    width:327px;
    font-size:12px;
    min-height:200px;
    height:auto;
    overflow-x:hidden;
    border: 1px solid #dcdfe1;
}

#project-desc {
    width: 510px;
    display: inline-block;
    height: 292px;
    border: 1px solid #dcdfe1;
}

#project-desc .small-heading {
    margin: 8px 0px 0px 0px;
}

#project-desc table {
    text-align: center;
    text-align: left;
    margin-left: 20px;
    width:40%;
    border:none;

}

#project-desc table td {
    text-align: center;
    text-align: left;
    margin-left: 20px;
    width: 100px;

}

#project-desc .description {
    margin-left: 20px;
}

.overview-background .parcel-details-return {
    margin: 20px 12px 20px 10px;
    font-weight: bold;
}

#project-content {
    margin:0;
    padding:0;
    /*background-color: #eef2f5;*/
}

#project-content ul {
    padding: 0;
    margin:0;
}

.project-block {
    display: inline-block;
    text-align:left;
    background-color:white;
    font-size:12px;
    border: none;
    text-align:top;
    vertical-align:top;
    overflow:auto;
}

.small-heading {
    color: #256c97;
    font-size:12px;
    font-weight:bold;
    display: inline-block;
    padding-bottom:10px;

}

.parcel-details-content .small-heading {
    margin: 20px 0 0 20px;
}

.mini-overview {
    width:517px;
    padding-top:16px;
    float:left;
    border: 1px solid #dcdfe1;
    min-height: 200px;
    height: auto;
}

#overviewMap {
    position:relative;
    width:100%;
    height:100%;
}

#project-extent {
    border: 1px solid #dcdfe1;
    width:308px;
    height:291px;
    display:inline-block;
    float:right;
}

.overview-background {
    margin: 0 auto;
    height:auto;
}

#project-resource-summary .resource-download{
    margin-right: 50px;
}

li.activity-block {
    position: relative;
    padding: 14px 0px 15px 25px;
}

.remove-bottom-border {
    border-bottom: none !important;
}

#project-desc .project-description {
    padding: 0 20px 0 25px;
}

.activity-block {
    display: block;
    width: 95%;
    border-bottom: 1px solid #e3e3e3;
}

.project-block {
    display: inline-block;
    text-align:left;
    background-color:white;
    font-size:12px;
    /*border: none;*/
    vertical-align:top;
    overflow:auto;
}


#header .icon-icon_edit:before {
    font-size: 30px;
}

#header a {
    position: relative;
    top: 20px;
    padding-right:28px;
    float:right;
}

.leaflet-top.leaflet-left {
    z-index: 50;
}

.leaflet-bottom.leaflet-right {
    z-index: 50;
}