<md-dialog aria-label="Add Relationship" class="cadasta-modal resources">

    <form name="newRelationshipForm">
        <md-dialog-content>
            <div class="form_upload_content add-relationship">
                <div class="cadasta-modal-header">
                    <div class="small-heading">
                        Add Relationship
                    </div>
                    <div class="right">
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <i class="material-icons right">clear</i>
                        </md-button>
                    </div>
                </div>
                <div class="modal-content">
                    <md-content layout-padding>
                        <form name="userForm">
                            <div layout layout-sm="column">
                            </div>
                            <p>1. Select a party and enter relationship details.</p>


                            <md-input-container md-no-float class="md-block add-relationship-format">
                                <input ng-model="searchText" placeholder="Begin typing to search for a Party">

                                <div ng-messages="newRelationshipForm.relationship.party.$error">
                                    <div ng-message="required">Party is required.</div>
                                </div>
                            </md-input-container>


                            <div ng-show="relationship.party" flex-initial>
                                     <span class="title">Selected User</span>: <span class="md-checked">
                                        <span ng-show="relationship.party.properties.first_name">{{relationship.party.properties.first_name}}</span>
                                        <span ng-show="relationship.party.properties.group_name">{{relationship.party.properties.group_name}}</span>
                                        <span>, Party Id: {{relationship.party.properties.id}}</span>
                                    </span>
                            </div>


                            <br>
                            <md-radio-group ng-model="relationship.party" ng-show="searchText.length > 0" >
                                <div ng-repeat='party in parties | filter:searchText' class="row">
                                    <div>
                                        <md-radio-button flex
                                                         ng-value="party"
                                                         class="md-primary" >
                                            <span ng-show="party.properties.first_name">{{party.properties.first_name}} {{party.properties.last_name}}</span>
                                            <span ng-show="party.properties.group_name">{{party.properties.group_name}}</span>
                                        </md-radio-button>
                                    </div>
                                </div>
                            </md-radio-group>


                            <md-input-container class="add-relationship-format">
                                <label>Tenure Type</label>
                                <md-select ng-model="relationship.tenure_type">
                                    <md-option ng-repeat="t in tenure_types" value="{{t.type}}">
                                        {{t.label}}
                                    </md-option>
                                </md-select>

                                <div ng-messages="newRelationshipForm.relationship.tenure_type.$error">
                                    <div ng-message="required">Tenure type is required.</div>
                                </div>
                            </md-input-container>


                            <!--<md-input-container md-no-float class="md-block add-relationship-format">-->
                                <!--<input ng-model="relationship.acquired_type" placeholder="How was the parcel acquired?">-->
                            <!--</md-input-container>-->


                            <div class="md-block add-relationship-format">
                                <input ng-model="day" placeholder="DD" class="datebox">/
                                <input ng-model="month" placeholder="MM">/
                                <input ng-model="year" placeholder="YYYY">
                            </div>


                            <md-datepicker class="md-block add-relationship-format" ng-model="relationship.acquisition_date" md-placeholder="Date of acquisition - DD/MM/YYYY"></md-datepicker>
                            <!--<div class="validation-messages" ng-messages="newRelationshipForm.relationship.acquisition_date.$error"></div>-->

                            <br><br>

                            <md-input-container md-no-float flex class="relationship-notes md-block">
                                <textarea ng-model="relationship.description" columns="1" md-maxlength="150" placeholder="Notes"></textarea>
                            </md-input-container>

                        </form>
                    </md-content>

                    <p>2. Draw the relationship geometry using the tools on the left.</p>
                    <br><br>

                    <div id="editParcelMap"></div>

                    <!--map legend-->
                    <div id='legend'>

                        <nav class='legend clearfix'>
                            <span class='legend-key' style='background:#256c97;'></span>
                            <span class="legend-label">Project Extent</span>
                            <span class='legend-key' style='background:#e54573;'></span>
                            <span class="legend-label">Parcel Geometry</span>
                            <span class='legend-key' style='background:#88D40E;'></span>
                            <span class="legend-label">New Relationship Geometry</span>

                        </nav>
                    </div>
                </div>

                <div class="resource-upload-error">
                    {{relationshipCreated}}
                    {{ relationship.acquisition_date }}
                </div>

                <div class="cadasta-button right parcel-save" ng-click="saveNewRelationship(cadastaProjectId, layer, relationship)">Save Relationship</div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
