<md-dialog aria-label="Add Relationship" class="cadasta-modal resources">

    <form name="addParty">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Party</h2>
                <span flex></span>

                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons right">clear</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="form_upload_content add-party">

                <div class="modal-content">
                    <div>
                        <md-radio-group ng-click="clearPartyFields(party)" ng-model="party.party_type" ng-init="party.party_type='individual'" >
                            <!--<label class="party-type"><span class="font-red">*</span>Party Type</label>-->
                            <div class="ckan-label"><span class="font-red">*</span>Party Type</div>
                            <md-radio-button value="individual" class="md-primary">Individual</md-radio-button>
                            <md-radio-button value="group">Group</md-radio-button>
                        </md-radio-group>

                        <md-content class="layout-padding add-parcel-extra-fields" >
                            <div layout layout-sm="column">

                                <md-input-container md-no-float flex class="pin-id" ng-show="(party.party_type === 'individual')">
                                    <!--<label><span class="font-red">*</span>Full Name</label>-->
                                    <div class="ckan-label"><span class="font-red">*</span>Full Name:</div>

                                    <input ng-model="party.full_name">
                                </md-input-container>

                                <br><br><br>
                                <div></div>

                                <md-input-container md-no-float flex class="pin-id group-name" ng-show="(party.party_type === 'group')">
                                    <!--<label><span class="font-red">*</span>Name</label>-->
                                    <div class="ckan-label"><span class="font-red">*</span>Name:</div>

                                    <input ng-model="party.group_name">
                                </md-input-container>
                            </div>
                        </md-content>

                        <md-content class="layout-padding add-parcel-extra-fields" >
                            <div layout layout-sm="column">

                                <md-input-container md-no-float flex class="pin-id" >
                                    <div class="ckan-label">National ID:</div>
                                    <!--<label>National ID</label>-->
                                    <input ng-model="party.national_id">
                                </md-input-container>

                                <md-input-container md-no-float flex class="pin-id" ng-show="(party.party_type === 'individual')">
                                    <!--<label>Gender</label>-->
                                    <div class="ckan-label">Gender:</div>
                                    <input ng-model="party.gender">
                                </md-input-container>

                            </div>
                        </md-content>

                        <md-content class="layout-padding add-parcel-extra-fields" >

                            <div ng-show="(party.party_type === 'individual')">Party Date of Birth</div>


                            <div ng-show="(party.party_type === 'individual')" layout layout-sm="column">
                                <div id="custom-date-picker">
                                    <p>Selected date is: <span class="date-selected">{{dt | date:format:'dd/MM/yyyy' }}</span></p>

                                    <div style="display:inline-block">
                                        <uib-datepicker ng-model="dt" format-day="dd" format-month="MM" format-year="yyyy"
                                                        max-date="maxDate" show-weeks="false"
                                                        class="well well-sm"></uib-datepicker>
                                    </div>
                                </div>
                            </div>

                        </md-content>

                        <md-content class="layout-padding add-parcel-extra-fields" >
                            <div layout layout-sm="column">
                                <md-input-container md-no-float flex class="modal-notes relationship-notes md-block">
                                    <div class="ckan-label">Notes:</div>
                                    <textarea ng-model="party.description" columns="1"></textarea>
                                </md-input-container>
                            </div>
                        </md-content>

                    </div>
                </div>

                <div class="cadasta-button right parcel-save" ng-click="saveNewParty(cadastaProjectId, party)">Save Party</div>
                <div class="cancel" ng-click="cancel()">Cancel</div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
