<md-dialog aria-label="Add Relationship" class="cadasta-modal resources">

    <form name="newRelationshipForm">
        <md-dialog-content>
            <div class="form_upload_content add-relationship">
                <div class="cadasta-modal-header">
                    <div class="small-heading">
                        Add Relationship
                    </div>
                    <div class="right">
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <i class="material-icons right">clear</i>
                        </md-button>
                    </div>
                </div>
                <div class="modal-content">
                    <md-content layout-padding>
                        <form name="userForm">
                            <div layout layout-sm="column">
                            </div>
                            <p>1. Select a party and enter relationship details.</p>
                            <div ng-messages="newRelationshipForm.relationship.party.$error">
                                <div ng-message="required" class="font-red">Party is required.</div>
                            </div>
                            <br><br>

                            <div id="ag-table">
                                <input placeholder="Search" type="text" ng-model="selectPartyGridOptions.quickFilterText"/>
                                <div ag-grid="selectPartyGridOptions" class="ag-blue" id="selectPartyGrid" style="height: 100%;"></div>
                            </div>

                            <br>
                            <md-radio-group ng-model="relationship.party" ng-show="searchText.length > 0">
                                <div ng-repeat='party in parties | filter:searchText' class="row">
                                    <div>
                                        <md-radio-button flex
                                                         ng-value="party"
                                                         class="md-primary">
                                            <span ng-show="party.properties.full_name">{{party.properties.full_name}}</span>
                                            <span ng-show="party.properties.group_name">{{party.properties.group_name}}</span>
                                        </md-radio-button>
                                    </div>
                                </div>
                            </md-radio-group>


                            <md-input-container class="add-relationship-format">
                                <label>Tenure Type</label>
                                <md-select ng-model="relationship.tenure_type">
                                    <md-option ng-repeat="t in tenure_types" value="{{t.type}}">
                                        {{t.label}}
                                    </md-option>
                                </md-select>

                                <div ng-messages="newRelationshipForm.relationship.tenure_type.$error">
                                    <div ng-message="required">Tenure type is required.</div>
                                </div>
                            </md-input-container>


                            <md-input-container md-no-float class="md-block add-relationship-format">
                                <input ng-model="relationship.acquired_type" placeholder="How was the parcel acquired?">
                            </md-input-container>


                            <!--<md-datepicker class="md-block add-relationship-format" ng-model="relationship.acquisition_date " md-placeholder="Date of acquisition"></md-datepicker>-->
                            <!--<br><br>-->


                            When was the parcel acquired?

                            <div id="custom-date-picker">
                                <pre>Selected date is: <em>{{dt | date:format:'dd/MM/yyyy' }}</em></pre>

                                <div style="display:inline-block">
                                    <uib-datepicker ng-model="dt" format-day="dd" format-month="MM" format-year="yyyy"
                                                    max-date="maxDate" show-weeks="true"
                                                    class="well well-sm"></uib-datepicker>
                                </div>
                            </div>


                            <md-input-container md-no-float flex class="relationship-notes md-block">
                                <textarea ng-model="relationship.description" columns="1" md-maxlength="150"
                                          placeholder="Notes"></textarea>
                            </md-input-container>

                        </form>
                    </md-content>

                    <p>2. Draw the relationship geometry using the tools on the left.</p>
                    <br><br>

                    <div id="editParcelMap"></div>

                    <!--map legend-->
                    <div id='legend'>

                        <nav class='legend clearfix'>
                            <span class='legend-key' style='background:#256c97;'></span>
                            <span class="legend-label">Project Extent</span>
                            <span class='legend-key' style='background:#e54573;'></span>
                            <span class="legend-label">Parcel Geometry</span>
                            <span class='legend-key' style='background:#88D40E;'></span>
                            <span class="legend-label">New Relationship Geometry</span>

                        </nav>
                    </div>
                </div>

                <div id="relationship_creation_feedback" ng-messages="newRelationshipForm.$error">
                    <div ng-message="required" class="font-red">{{ relationshipCreatedFeedback }}</div>
                </div>

                <div class="cadasta-button right parcel-save"
                     ng-click="saveNewRelationship(cadastaProjectId, layer, relationship)">Save Relationship
                </div>
                <div class="cancel" ng-click="cancel()">Cancel</div>

            </div>
        </md-dialog-content>
    </form>
</md-dialog>
