<md-dialog aria-label="Add Relationship" class="cadasta-modal resources">

    <form name="addParcel">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Parcel</h2>
                <span flex></span>

                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons right">clear</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="form_upload_content add-relationship">

                <div class="modal-content">
                    <div>
                        <div class="ckan-label"><span class="font-red">*</span>Draw the geometry of a new parcel using the tools on the left</div>
                        <br><br>

                        <div id="addParcelMap"></div>

                        <!--map legend-->
                        <div id='legend'>
                            <nav class='legend clearfix'>
                                <!--<span class='legend-key' style='background:#256c97;'></span>-->
                                <!--<span class="legend-label">Project Extent</span>-->
                                <span class='legend-key' style='background:#e54573;'></span>
                                <span class="legend-label">Parcel Geometry</span>
                            </nav>
                        </div>

                        <md-content class="layout-padding left add-parcel-extra-fields" >
                            <div layout layout-sm="column">
                                <md-input-container flex class="landuse-left">
                                    <div class="ckan-label">Landuse:</div>
                                    <md-select ng-model="parcel.landuse">
                                        <md-option ng-repeat="l in landuse_types" value="{{l.type}}">
                                            {{l.label}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container md-no-float flex class="pin-id">
                                    <div class="ckan-label">Government Pin ID:</div>
                                    <input ng-model="parcel.pinid">
                                </md-input-container>

                            </div>
                            <md-input-container md-no-float flex class="notes">
                                <div class="ckan-label">Notes:</div>
                                <textarea ng-model="parcel.notes" columns="1"></textarea>
                            </md-input-container>
                        </md-content>
                        <div>
                            <div class="cadasta-button right parcel-save" ng-click="saveNewParcel()">Save Parcel</div>
                            <div class="cancel" ng-click="cancel()">Cancel</div>
                        </div>

                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
