<md-dialog aria-label="Add Relationship" class="cadasta-modal resources">

    <form name="newRelationshipForm">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Relationship</h2>
                <span flex></span>

                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons right">clear</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="form_upload_content add-relationship">

                <div class="modal-content">
                    <md-content layout-padding>
                        <form name="userForm">
                            <div layout layout-sm="column">
                            </div>
                            <span><span class="font-red">*</span>Select a Party</span>
                            <br><br>

                            <div id="ag-table">
                                <input placeholder="Search" type="text" ng-model="selectPartyGridOptions.quickFilterText"/>
                                <div ag-grid="selectPartyGridOptions" class="ag-blue" id="selectPartyGrid" style="height:100%"></div>
                            </div>

                            <br>
                            <md-radio-group ng-model="relationship.party" ng-show="searchText.length > 0">
                                <div ng-repeat='party in parties | filter:searchText' class="row">
                                    <div>
                                        <md-radio-button flex
                                                         ng-value="party"
                                                         class="md-primary">
                                            <span ng-show="party.properties.full_name">{{party.properties.full_name}}</span>
                                            <span ng-show="party.properties.group_name">{{party.properties.group_name}}</span>
                                        </md-radio-button>
                                    </div>
                                </div>
                            </md-radio-group>
                            <br>

                            <md-input-container class="add-relationship-format">
                                <div class="ckan-label"><span class="font-red">*</span>Tenure Type:</div>
                                <md-select class="tenure-type-left" ng-model="relationship.tenure_type">
                                    <md-option ng-repeat="t in tenure_types" value="{{t.type}}">
                                        {{t.label}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block add-relationship-format">
                                <div class="ckan-label">How was the parcel acquired:</div>
                                <md-select class="tenure-type-left" ng-model="relationship.how_acquired">
                                    <md-option ng-repeat="a in acquired_types" value="{{a.type}}">
                                        {{a.label}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <div id="custom-date-picker">
                                <div ng-click="showDatepicker = !showDatepicker" class="cadasta-button left parcel-save" >Select date of parcel acquisition</div>
                                <br><br><br><br>

                                <div ng-show="showDatepicker">
                                    <p>Selected date is: <span class="date-selected" >{{dt | date:format:'dd/MM/yyyy' }}</span></p>

                                    <div style="display:inline-block">
                                        <uib-datepicker ng-model="dt" format-day="dd" format-month="MM" format-year="yyyy"
                                                        max-date="maxDate" show-weeks="false"
                                                        class="well well-sm"></uib-datepicker>
                                    </div>
                                </div>
                            </div>

                            <md-radio-group ng-model="relationshipGeomMap" ng-init="relationshipGeomMap='parcel'">
                                <div class="ckan-label">Relationship Geometry</div>
                                <md-radio-button value='parcel' class="md-primary useParcelGeom"> Use parcel geometry </md-radio-button>
                                <md-radio-button value='relationship' class="useRelationshipGeom"> Draw relationship geometry </md-radio-button>
                            </md-radio-group>

                            <div id="DrawRelationshipMap" >
                                <p> Draw the relationship geometry using the tools on the left.</p>

                                <div id="editParcelMap"></div>

                                <div id='legend'>

                                    <nav class='legend clearfix'>
                                        <span class='legend-key' style='background:#e54573;'></span>
                                        <span class="legend-label">Parcel Geometry</span>
                                        <span class='legend-key' style='background:#88D40E;'></span>
                                        <span class="legend-label">New Relationship Geometry</span>
                                    </nav>
                                </div>
                            </div>

                            <md-input-container md-no-float flex class="relationship-notes md-block">
                                <div class="ckan-label">Notes:</div>
                                <textarea ng-model="relationship.description"></textarea>
                            </md-input-container>

                        </form>
                    </md-content>

                </div>

                <div id="relationship_creation_feedback" ng-messages="newRelationshipForm.$error">
                    <div ng-message="required" class="font-red">{{ relationshipCreatedFeedback }}</div>
                </div>

                <div class="cadasta-button right parcel-save"
                     ng-click="saveNewRelationship(cadastaProjectId, layer, relationship)">Save Relationship
                </div>
                <div class="cancel" ng-click="cancel()">Cancel</div>

            </div>
        </md-dialog-content>
    </form>
</md-dialog>
