<div id="breadcrumb" class="toolbar">
    <div class="crumb-content">
        <div class="icon-icon_home icon-home"></div>
        <a class="title" href=""></a>

        <div class="icon-lnr-chevron-right arrow-right"></div>
        <a class="title" href="/project/">Projects</a>

        <div class="icon-lnr-chevron-right arrow-right"></div>
        <a class="title" ui-sref="tabs.overview">{{cadastaProject.title}}</a>

        <div class="icon-lnr-chevron-right arrow-right"></div>



        <!-- breadcrumbs when on a specific tab details page-->

        <!--breadcrumb when on specific parcel page-->
        <a ng-show="(tab_parcel.length > 0) && (tab_relationship.length <= 0)" class="title" ui-sref="tabs.parcels.parcellist">{{tab}}</a>

        <!-- parcels breadcrumb when on specific relationship page-->
        <a ng-show="(tab_parcel.length <= 0) && (tab_relationship.length > 0)" class="title" ui-sref="tabs.relationships.relationshipList">{{tab}}</a>


        <!-- parcels breadcrumb when on a tab list page-->
        <a ng-show="(tab_parcel.length <= 0) && (tab_relationship.length <= 0)" class="title active" href="">{{tab}}</a>

        <!--breadcrumb when on parcel list page-->
        <div ng-show="tab_parcel.length > 0" class="icon-lnr-chevron-right arrow-right"></div>
        <a ng-show="tab_parcel.length > 0" class="active title" href="">{{tab_parcel}}</a>

        <!--breadcrumb when on relationship list page-->
        <div ng-show="tab_relationship.length > 0" class="icon-lnr-chevron-right arrow-right"></div>
        <a ng-show="tab_relationship.length > 0" class="active title" href="">{{tab_relationship}}</a>

    </div>
</div>