<md-dialog aria-label="Upload Resource" class="cadasta-modal resources">
    <form>
        <md-dialog-content>

            <div class="form_upload_content">
                <div class="cadasta-modal-header">
                    <div class="small-heading">
                        Add Resource
                    </div>
                    <div class="right">
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <i class="material-icons right">clear</i>
                        </md-button>
                    </div>
                </div>
                <div class="modal-content">
                    <div>
                        <p>Freegan lo-fi meggings, tofu Intelligentsia sriracha letterpress organic street art VHS put a
                            bird on it wolf chillwave. Twee XOXO church-key, typewriter listicle YOLO dreamcatcher
                            normcore Banksy Kickstarter freegan fanny pack Shoreditch. Squid deep v raw denim High Life
                        </p>
                        <br><br>
                    </div>


                    <input type="file" nv-file-select uploader="uploader"/><br/>
                    <ul>
                        <li ng-repeat="item in uploader.queue">
                            Name: <span ng-bind="item.file.name"></span><br/>
                            <button class="grey-btn" ng-click="item.upload()">Upload Resource</button>
                        </li>
                    </ul>

                </div>


            </div>


        </md-dialog-content>
    </form>
</md-dialog>
