<md-dialog aria-label="Add Relationship" class="cadasta-modal resources">

    <form>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Update Parcel Details</h2>
                <span flex></span>

                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons right">clear</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="form_upload_content add-relationship">
                <div class="modal-content">
                    <div>
                        <p>Use the tools on the left to update the parcel geometry by retracing the parcel extent.
                            <br><br>

                        <div id="editParcelMap"></div>

                        <!--map legend-->
                        <div id='legend'>

                            <nav class='legend clearfix'>
                                <span class='legend-key' style='background:#256c97;'></span>
                                <span class="legend-label">Project Extent</span>
                                <span class='legend-key' style='background:#e54573;'></span>
                                <span class="legend-label">Current Parcel Geometry</span>
                                <span class='legend-key' style='background:#88D40E;'></span>
                                <span class="legend-label">New Parcel Geometry</span>
                            </nav>
                        </div>

                        <md-content class="layout-padding left add-parcel-extra-fields" >
                            <div layout layout-sm="column">
                                <md-input-container md-no-float flex class="pin-id">
                                    <label>Government Pin Id</label>
                                    <input ng-model="parcel.pinid">
                                </md-input-container>
                                <md-input-container flex class="landuse update">
                                    <label>Landuse</label>
                                    <md-select ng-model="parcel.landuse">
                                        <md-option>Commercial</md-option>
                                        <md-option>Residential</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <md-input-container md-no-float flex class="notes">
                                <label>Notes</label>
                                <textarea ng-model="parcel.notes" columns="1" md-maxlength="150"></textarea>
                            </md-input-container>
                        </md-content>

                        <div class="cadasta-button right" ng-click="updateParcel(cadastaProjectId, layer)">Update Parcel</div>

                    </div>
                </div>


            </div>


        </md-dialog-content>
    </form>
</md-dialog>
