<md-dialog aria-label="Add Relationship" class="cadasta-modal resources">

    <form name="editParty">
        <md-dialog-content>
            <div class="form_upload_content add-party">
                <div class="cadasta-modal-header">
                    <div class="small-heading">
                        Edit Party
                    </div>
                    <div class="right">
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <i class="material-icons right">clear</i>
                        </md-button>
                    </div>
                </div>
                <div class="modal-content">
                    <div>
                        <md-radio-group ng-model="party.party_type" ng-init="party.party_type=party.type" >
                            <label class="party-type">Party Type</label>
                            <md-radio-button value="individual" class="md-primary">Individual</md-radio-button>
                            <md-radio-button value="group">Group</md-radio-button>
                        </md-radio-group>

                        <md-content class="layout-padding left add-parcel-extra-fields" >
                            <div layout layout-sm="column">

                                <md-input-container md-no-float flex class="pin-id" ng-show="(party.party_type === 'individual')">
                                    <label>Full Name</label>
                                    <input ng-model="party.first_name">

                                    <div ng-messages="editParty.party.first_name.$error">
                                        <div ng-message="required" class="font-red">Party name is required.</div>
                                        <br>
                                    </div>
                                </md-input-container>

                                <!--<md-input-container md-no-float flex class="pin-id" ng-show="(party.party_type === 'individual')">-->
                                    <!--<label>Last Name</label>-->
                                    <!--<input ng-model="party.last_name">-->

                                    <!--<div ng-messages="editParty.party.last_name.$error">-->
                                        <!--<div ng-message="required" class="font-red">Party name is required.</div>-->
                                        <!--<br>-->
                                    <!--</div>-->
                                <!--</md-input-container>-->
                                <br><br><br>

                                <md-input-container md-no-float flex class="pin-id group-name" ng-show="(party.party_type === 'group')">
                                    <label>Name</label>
                                    <input ng-model="party.group_name">

                                    <div ng-messages="editParty.party.group_name.$error">
                                        <div ng-message="required" class="font-red">Party name is required.</div>
                                        <br>
                                    </div>
                                </md-input-container>
                                </div>
                        </md-content>

                        <md-content class="layout-padding left add-parcel-extra-fields" >
                            <div layout layout-sm="column">


                                <md-input-container md-no-float flex class="pin-id" >
                                    <label>National ID</label>
                                    <input ng-model="party.national_id">
                                </md-input-container>

                                <md-input-container md-no-float flex class="pin-id" ng-show="(party.party_type === 'individual')">
                                    <label>Gender</label>
                                    <input ng-model="party.gender">
                                </md-input-container>

                            </div>
                        </md-content>

                        <md-content class="layout-padding left add-parcel-extra-fields" >
                            <div layout layout-sm="column">
                                <md-datepicker  ng-show="(party.party_type === 'individual')" class="md-block add-relationship-format party" ng-model="party.dob" md-placeholder="Date of birth"></md-datepicker>
                            </div>
                        </md-content>

                        <md-content class="layout-padding left add-parcel-extra-fields" >
                            <div layout layout-sm="column">
                                <md-input-container md-no-float flex class="relationship-notes md-block">
                                    <textarea ng-model="party.description" columns="1" md-maxlength="150" placeholder="Notes"></textarea>
                                </md-input-container>

                            </div>
                        </md-content>

                    </div>
                </div>
                <div class="cadasta-button right parcel-save" ng-click="updateParty(cadastaProjectId, party)">Save Party</div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
