<div class="clearfix overview-background field-data">

    <div class="small-heading">Validate Field Data</div>

    <div class="overview">
        <div class="back-link">
            <a ng-click="clearFieldDatumBreadCrumb(); cancel(); alertValidateData()" ui-sref="^.fieldDataList" ><i class="material-icons back_space">keyboard_backspace</i>
                Back to list</a>

        <div class="right">
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="material-icons right">clear</i>
            </md-button>
        </div>

        </div>
    </div>

    <div id="project-header" >

        <div class="cadasta-round-button" ng-click="selectAll()">Select All</div>


        <p class="selected-text" ng-show="selectedCellText"> {{selectedCellText}}</p>

        <div id="ag-table" class="selectFieldDataGrid">
            <div ag-grid="gridOptions" class="ag-fresh" style="height: 100%;"></div>
        </div>

        <div class="font-green"> {{successMessage}}</div>
        <div class="font-red"> {{errorMessage}}</div>

        <div class="cadasta-button" ng-click="updateStatusRows(true)" >Validate Rows</div>

        <div class="cadasta-button red" ng-click="updateStatusRows(false)">Invalidate Rows</div>
    </div>
</div>

