<div class="clearfix overview-background resources">

    <div class="overview">
        <div class="back-link">
            <a ng-click="clearFieldDatumBreadCrumb()" ui-sref="^.fieldDataList"><i class="material-icons back_space">keyboard_backspace</i>
                Back to list</a>

            <div class="button-controller right">
            </div>
        </div>
    </div>

    <div id="project-header" >


        <div id="ag-table" class="selectFieldDataGrid">
            <div ag-grid="gridOptions" class="ag-blue" style="height: 100%;"></div>
        </div>
    </div>
</div>

