<md-dialog aria-label="Add Relationship" class="modal-no-radius">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Field Data Submissions</h2>
            <span flex></span>

            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="material-icons right">clear</i>
            </md-button>
        </div>
    </md-toolbar>

    <div class="clearfix overview-background field-datum">

    <div class="overview">
        <div class="back-link">
            <a ng-click="clearFieldDatumBreadCrumb(); cancel(); alertValidateData()" ui-sref="^.fieldDataList" ><i class="material-icons back_space">keyboard_backspace</i>
                Back to field data list</a>
        </div>
    </div>

    <div id="project-header" >

        <div class="select-all-wrapper" ng-click="toggleSelectAllButton()">
            <div class="select-all-button">
                <div class="select-all-text">{{toggleSelectAll.label}}</div>
            </div>
        </div>


        <p class="selected-text" ng-show="selectedCellText"> {{selectedCellText}}</p>

        <div id="ag-table" class="selectFieldDataGrid">
            <div ag-grid="gridOptions" class="ag-fresh" style="height: 100%;"></div>
        </div>

        <div class="font-green"> {{successMessage}}</div>
        <div class="font-red"> {{errorMessage}}</div>

        <div class="cadasta-button" ng-click="updateStatusRows(true)" >Validate Rows</div>

        <div class="cadasta-button red" ng-click="updateStatusRows(false)">Invalidate Rows</div>
    </div>
</div>

</md-dialog>