<!--primary content-->
<div class="clearfix overview-background">
    <div id="project-header">

        <div id='project-desc' class="project-block">
            <span class="small-heading">DESCRIPTION</span>

            <p class="project-description">{{overviewData.description}}</p>
        </div>
        <div id="project-extent">
            <div id="overviewMap"></div>
        </div>
    </div>
</div>

<!--secondary content-->
<div class="span3">
    <div id="project-content" class="project-overview-page">

        <div class='mini-overview project-block' id="project-activity-summary">
            <span class="small-heading">LATEST ACTIVITY</span>

            <div ng-repeat="activity in overviewData.activityList">
                <!-- repeat each activity in the list and depending on the type of activity, print a different string-->

                <li ng-if="activity.properties.activity_type === 'parcel'"
                    ng-class="{'remove-bottom-border': $index == overviewData.activityList.length-1}"
                    class="activity-block block">

                    <span class="bold" ng-show="nonPublic"><a ui-sref="tabs.parcels.parcel({id:activity.properties.id})">
                        Parcel {{ activity.properties.id }}</a></span>
                    <span class="bold" ng-show="public">Parcel {{ activity.properties.id }}</span>
                    was created on {{ activity.properties.time_created }}
                </li>

                <li ng-if="activity.properties.activity_type === 'parcel_history'"
                    ng-class="{'remove-bottom-border': $index == overviewData.activityList.length-1}"
                    class="activity-block block">

                    <span class="bold" ng-show="nonPublic"><a ui-sref="tabs.parcels.parcel({id:activity.properties.id})">
                        Parcel {{ activity.properties.id }}</a></span>
                    <span class="bold" ng-show="public">Parcel {{ activity.properties.id }}</span>
                    was updated at {{ activity.properties.time_created }}
                </li>

                <li ng-if="activity.properties.activity_type === 'party'"
                    ng-class="{'remove-bottom-border': $index == overviewData.activityList.length-1}"
                    class="activity-block block">

                    <span class="bold" ng-show="nonPublic">Party {{ activity.properties.name }}</span>
                    <span class="bold" ng-show="public">Party {{ activity.properties.id }}</span>
                    was created on {{ activity.properties.time_created }}
                </li>

                <li ng-if="activity.properties.activity_type === 'relationship'"
                    ng-class="{'remove-bottom-border': $index == overviewData.activityList.length-1}"
                    class="activity-block block">
                    Relationship <span class="bold" ng-show="nonPublic"><a ui-sref="tabs.relationships.relationship({id:activity.properties.id})">
                    {{ activity.properties.id }}</a></span> between
                    <span class="bold" ng-show="nonPublic"> party {{ activity.properties.name }}</span>
                    <span class="bold" ng-show="public"> party {{ activity.properties.id }}</span>
                    and
                    <span class="bold" ng-show="nonPublic"><a ui-sref="tabs.parcels.parcel({id:activity.properties.parcel_id})">
                        Parcel {{ activity.properties.parcel_id }}</a></span>
                    <span class="bold" ng-show="public">Parcel {{ activity.properties.parcel_id }}</span>
                    was created on {{ activity.properties.time_created }}
                </li>

                <li ng-if="activity.properties.activity_type === 'relationship_history'"
                    ng-class="{'remove-bottom-border': $index == overviewData.activityList.length-1}"
                    class="activity-block block">
                    <span class="bold" ng-show="nonPublic"><a ui-sref="tabs.relationships.relationship({id:activity.properties.id})">
                        Relationship {{ activity.properties.id }}</a></span>
                    <span class="bold" ng-show="public">Relationship {{ activity.properties.id }}</span>
                    was updated at {{ activity.properties.time_created }}
                </li>

                <li ng-if="activity.properties.activity_type === 'field_data'"
                    ng-class="{'remove-bottom-border': $index == overviewData.activityList.length-1}"
                    class="activity-block block">
                    <span class="bold">{{ activity.properties.name }}</span>
                    field data form uploaded on {{ activity.properties.time_created }}
                </li>
            </div>
        </div>

        <!-- project resources-->
        <div class='mini-overview project-block' id="project-resource-summary">
            <span class="small-heading">RESOURCES</span>

            <div ng-repeat="resource in overviewData.features[0].properties.project_resources">
                <li ng-class="{'remove-bottom-border': $index == overviewData.features[0].properties.project_resources.length-1}"
                    class="resource-activity-block block">
                    <span class="bold">{{resource.properties.file_name | cut:true:35:' ...'}}</span> uploaded on
                    {{resource.properties.time_created}}
                    <div ng-show="nonPublic"><a href="{{resource.properties.url}}">Download</a></div>
                </li>
            </div>
        </div>

    </div>
</div>
