

<div id="parcelDetails">
    <div class="details-container">
        <!-- Overview Start-->
        <div class="overview">

            <div class="back-link">
                <a ng-click="clearParcelBreadCrumb()" ui-sref="^.parcellist"><i class="material-icons back_space">keyboard_backspace</i> Back to list</a>
                <div class="button-controller right">
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="title">Parcel {{parcel.id}} <span ng-show="parcel.gov_pin">({{parcel.gov_pin}})</span> </div>

                    <div class="cadasta-round-button float-right" ng-click="addRelationshipModal()"> Add Relationship </div>

                    <div>
                        <span class="caption">Landuse</span>
                        <span>{{parcel.land_use | emptyString}}</span>
                        <br>
                    </div>

                    <div class="relationship-container">
                        <!-- Remove bottom border if first element in array-->
                        <div class="parcel-dropdown" ng-repeat="r in relationships"
                             ng-class="{'remove-bottom-border': $index < relationships.length-1 && relationships.length > 0}">
                            <div ng-click="toggleDropdownDetails(r)" class="name">
                                <a ui-sref="tabs.parties.party({id:r.properties.party_id})">
                                    {{r.properties.first_name}} {{r.properties.last_name}}
                                </a>
                                <i ng_show="!r.showDropDownDetails" class="material-icons right">expand_more</i>
                                <i ng_show="r.showDropDownDetails" class="material-icons right">expand_less</i>
                            </div>


                            <div ng_show="r.showDropDownDetails" class="dropdown-details">
                                <div class="caption">Tenure Type</div>
                                <div>{{r.properties.tenure_type}}</div>
                                <div class="caption">Relationship ID</div>
                                <div>
                                    <a ui-sref="tabs.relationships.relationship({id:r.properties.id})">{{r.properties.id}}</a>
                                </div>
                                <div class="caption">Date Added</div>
                                <div>{{r.properties.time_created}}</div>
                                <div class="caption">Status</div>
                                <div>{{r.properties.active}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-map">
                <div id="parcelDetailsMap"></div>
                <div class='cadasta-button float-right' ng-click="updateParcelModal()"> Update Parcel Details </div>
            </div>

        </div>
        <!-- Overview End-->
    </div>

    <!-- Parcel history-->
    <div class="history-container">
        <div class="parcel-history">
            <div class="small-table-container">
                <div class="small-heading">
                    Parcel History
                </div>

                <table class="parcel-history">
                    <thead>
                    <tr>
                        <th>Version</th>
                        <th>Date Created</th>
                        <th>Gov Pin</th>
                        <th>Land Use</th>
                        <th>Area</th>
                        <th>Length</th>
                        <th>Spatial Source</th>
                    </tr>
                    </thead>
                </table>
                <div class="parcel-history-data relationship">
                <table>
                    <tbody>
                    <tr ng-repeat="ph in parcel_history">
                        <td>{{ph.properties.version | emptyString}}</td>
                        <td>{{ph.properties.time_created | emptyString}}</td>
                        <td>{{ph.properties.gov_pin | emptyString}}</td>
                        <td>{{ph.properties.land_use | emptyString}}</td>
                        <td>{{ph.properties.area | emptyString}}</td>
                        <td>{{ph.properties.length | emptyString}}</td>
                        <td>{{ph.properties.spatial_source | emptyString}}</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Parcel resources-->
    <div class="history-container">
        <div class="parcel-history">
            <div class="small-table-container">
                <div class="small-heading">
                    Parcel Resources
                    <div class="cadasta-round-button right parcel-page-layout" ng-click="showAddResourceModal($event)"> Add Resource</div>
                </div>
                <md-button class="md-icon-button right parcel-page-layout" aria-label="More">

                </md-button>

                <table class="parcel-history">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>View</th>
                    </tr>
                    </thead>
                </table>
                <div class="parcel-history-data relationship">
                    <table>
                        <tbody>
                        <tr ng-repeat="r in parcelResources.features">
                            <td>{{r.properties.file_name}}</td>
                            <td>{{r.properties.description}}</td>
                            <td>{{r.properties.time_created}}</td>
                            <td><a href="{{r.properties.url}}">Download</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


