
<div id="parcelFilter" class="filter">
    <div layout="row">
        <md-input-container>
            <label>Filter by</label>
            <md-select ng-model="TenureTypeModel">
                <md-option ng-value="t.type" ng-repeat="t in tenure_types" ng-click="filterTenureType(t.type)">{{t.label}}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container>
            <label>Sort by</label>
            <md-select ng-model="TenureTypeModel">
                <md-option ng-value="s.type" ng-repeat="s in sort_by" ng-click="filterTenureType(s.type)">{{s.label}}</md-option>
            </md-select>
        </md-input-container>


        <md-button class='cadasta-round-button right' ng-click="addPartyModal()"> Add Party </md-button>

    </div>
</div>
<table id="parcel-table-header">
    <thead>
    <tr>
        <th>Party ID</th>
        <th>Name</th>
        <th>Party Type</th>
        <th>Active Relationships</th>
        <th>Date Created</th>
    </tr>
    </thead>
</table>

<div id="parcelList">
    <table>
        <tbody>
        <tr class="row-link" ng-show="partiesList.length ==0 " ng-repeat="party in parties | tenureType: TenureTypeModel"
            ng-class="{'last-table-element':$index == parties.length-1}" ui-sref="^.party({id: party.properties.id})">
            <td>{{party.properties.id}}</td>
            <td>{{party.properties.first_name}} {{party.properties.last_name}}</td>
            <td>{{party.properties.type}}</td>
            <td>{{party.properties.num_relationships}}</td>
            <td>{{party.properties.time_created}}</td>
        </tr>
        </tbody>
    </table>
</div>

