<div class="clearfix overview-background">
    <div id="project-header">
        <div class="button-controller activity-tab">

            <md-input-container>
                <label>Filter by</label>
                <!-- todo update to be about resources rather than parcels-->
                <md-select ng-model="ActivityTypeModel">
                    <md-option ng-value="t.type" ng-repeat="t in activity_types" ng-click="filterTenureType(t.type)">{{t.label}}</md-option>
                </md-select>
            </md-input-container>

        </div>

        <div class="project-tab-data">

            <div ng-repeat="activity in allActivities.features | activityType: ActivityTypeModel">
                <!-- repeat each activity in the list and depending on the type of activity, print a different string-->

                <li ng-if="activity.properties.activity_type === 'parcel'" class="activity-block block"><span
                        class="bold"><a href="/project/demo-project#/parcels/{{ activity.properties.id }}">
                    Parcel {{activity.properties.id }}</a></span> was created on {{ activity.properties.time_created }}
                </li>

                <li ng-if="activity.properties.activity_type === 'party'" class="activity-block block">Party<span
                        class="bold"> {{ activity.properties.name }}</span> was created on
                    {{ activity.properties.time_created }}
                </li>

                <li ng-if="activity.properties.activity_type === 'relationship'" class="activity-block block">
                    <!-- todo remove hardcoding of project id-->
                    Relationship between <span class="bold"> {{ activity.properties.name }}</span> and <span
                        class="bold"><a href="/project/demo-project#/parcels/{{ activity.properties.parcel_id }}">
                    parcel {{ activity.properties.parcel_id }}</a></span> was created on {{ activity.properties.time_created }}
                </li>
            </div>
        </div>

    </div>
</div>
</div>
