<div class="clearfix overview-background resources">
    <div id="project-header">
        <div class="resources-container">
            <div class="resources">
                <div class="button-controller">

                    <md-input-container>
                        <label>Filter by</label>
                        <md-select ng-model="ResourceTypeModel">
                            <md-option ng-value="t.type" ng-repeat="t in resource_types" ng-click="filterResourceType(t.type)">{{t.label}}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container>
                        <label>Sort by</label>
                        <md-select ng-model="ResourceTypeModel">
                            <md-option ng-value="s.type" ng-repeat="s in sort_by" ng-click="filterResourceType(s.type)">{{s.label}}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-button class="cadasta-round-button right" ng-click="showAdvanced($event)" flex flex-md="100">
                        Add Resource
                    </md-button>

                </div>
            </div>
                <table class="parcel-history">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Type</th>
                        <th>View</th>
                        <th class="right">Delete</th>
                    </tr>
                    </thead>
                </table>
                <div class="parcel-history-data relationship">
                    <table>
                        <tbody>
                        <tr ng-repeat="r in allResources.features | resourceType: ResourceTypeModel">
                            <td>{{r.properties.file_name}}</td>
                            <td>{{r.properties.description}}</td>
                            <td>{{r.properties.time_created}}</td>
                            <td>{{r.properties.type}}</td>
                            <td><a href="{{r.properties.url}}">Download</a></td>
                            <td><md-checkbox class="right" aria-label="Delete"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
