<div id="parcelDetails">
    <div class="details-container">
        <!-- Overview Start-->
        <div class="overview">

            <div class="back-link">
                <a ng-click="clearRelationshipBreadCrumb()" ui-sref="^.relationshiplist"><i class="material-icons back_space">keyboard_backspace</i> Back to relationship list</a>
                <div class="button-controller right">
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="title">Relationship ID {{relationship.id}}</div>
                    <br>
                    <div class="caption">Name</div>
                    <div>{{r.properties.name}} example person</div>
                    <div class="caption">Tenure Type</div>
                    <div>{{r.properties.tenure_type}} example tenure</div>
                    <div class="caption">Date Added</div>
                    <div>{{r.properties.time_created}} example date</div>
                    <div class="caption">Status</div>
                    <div>{{r.properties.active}} <a href="">change</a></div>
                </div>
            </div>
            <div class="section-map">
                <div id="relationshipDetailsMap"></div>
            </div>

        </div>
    </div>
</div>


        </div>
        <!-- Overview End-->
    </div>

    <!-- Parcel resources-->
    <div class="history-container">
        <div class="parcel-history">
            <div class="small-table-container">
                <div class="small-heading">
                    Relationship Resources
                </div>
                <md-button class="md-icon-button right parcel-page-layout" aria-label="More">
                    <div class="md-menu-demo">
                        <div class="menu-demo-container" layout-align="center center" layout$="column">
                            <div class="menus" layout-wrap layout="row" layout-align="space-between center">
                                <div layout="column" flex="33" flex-sm="100" layout-align="center center">
                                    <md-menu md-offset="0 -7">
                                        <md-button aria-label="Open resource menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                            <i class="material-icons">more_vert</i>
                                        </md-button>
                                        <md-menu-content width="2">
                                            <md-menu-item>
                                                <md-button ng-click="showAddResourceModal($event)"> Add Resource </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="ctrl.announceClick($index)"> Download Resources </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-button>

                <table class="parcel-history">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>View</th>
                    </tr>
                    </thead>
                </table>
                <div class="parcel-history-data relationship">
                    <table>
                        <tbody>
                        <tr ng-repeat="r in parcelResources.features">
                            <td>{{r.properties.file_name}}</td>
                            <td>{{r.properties.description}}</td>
                            <td>{{r.properties.time_created}}</td>
                            <td><a href="{{r.properties.url}}">Download</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


