
<div id="parcelFilter" class="filter">
    <div layout="row">
        <md-input-container>
            <label>Filter by</label>
            <md-select ng-model="TenureTypeModel">
                <md-option ng-value="t.type" ng-repeat="t in tenure_types" ng-click="setRelationshipFilter(t.type)">{{t.label}}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container>
            <label>Sort by</label>
            <md-select ng-model="TenureTypeModel">
                <md-option ng-value="s.type" ng-repeat="s in sort_by" ng-click="setRelationshipFilter(s.type)">{{s.label}}</md-option>
            </md-select>
        </md-input-container>

        <!--<md-button class='cadasta-round-button right relationship' ng-click="addRelationshipModal()"> Add Relationship </md-button>-->
    </div>
</div>
<table id="parcel-table-header">
    <thead>
    <tr>
        <th>Relationship ID</th>
        <th>Name</th>
        <th>Tenure Type</th>
        <th>How Acquired</th>
        <th>Acquired Date</th>
    </tr>
    </thead>
</table>

<div id="parcelList">
    <table>
        <tbody>
        <tr class="row-link" ng-show="relationshipsList.length ==0 " ng-repeat="relationship in relationships | customFilter: relationshipFilter"
            ng-class="{'last-table-element':$index == relationships.length-1}" ui-sref="^.relationship({id: relationship.properties.id})">
            <td>{{relationship.properties.id}}</td>
            <td><span ng-show="relationship.properties.first_name">{{relationship.properties.first_name}} {{relationship.properties.last_name}}</span>
                <span ng-show="relationship.properties.group_name">{{relationship.properties.group_name}}</span></td>
            <td>{{relationship.properties.tenure_type}}</td>
            <td>{{relationship.properties.how_acquired | emptyString}}</td>
            <td>{{relationship.properties.acquired_date| date : format : 'M/d/yyyy' | emptyString}}</td>
        </tr>
        </tbody>
    </table>
</div>

