<div id="parcelDetails">
    <div class="details-container">
        <!-- Overview Start-->
        <div class="overview">

            <div class="back-link">
                <a ng-click="clearRelationshipBreadCrumb()" ui-sref="^.relationshiplist"><i class="material-icons back_space">keyboard_backspace</i> Back to relationship list</a>
                <div class="button-controller right">
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="title">Relationship ID {{relationship.properties.id}}</div>
                    <br>
                    <div class="caption">Name</div>
                    <div>
                        <a ui-sref="tabs.parties.party({id: relationship.properties.party_id})">
                            {{relationship.properties.first_name}}
                        </a>
                    </div>
                    <div class="caption">Tenure Type</div>
                    <div>{{relationship.properties.tenure_type }} </div>
                    <div class="caption">How Acquired</div>
                    <div>{{relationship.properties.how_acquired }} </div>
                    <div class="caption">Date Acquired</div>
                    <div>{{relationship.properties.acquired_date | date : format : 'M/d/yyyy' | emptyString}}</div>
                    <div class="caption">Parcel ID</div>
                    <div>
                        <a ui-sref="tabs.parcels.parcel({id: relationship.properties.parcel_id})">{{relationship.properties.parcel_id}}</a></div>
                    <div class="caption">Status</div>
                    <div>{{relationship.properties.active}}</div>
                </div>
            </div>
            <div class="section-map">
                <div id="relationshipDetailsMap"></div>
                <div class='cadasta-button float-right' ng-click="updateRelationshipModal()"> Update Relationship Details </div>

            </div>

        </div>
    </div>
</div>


<!-- Relationship history-->
<div class="history-container">
    <div class="parcel-history">
        <div class="small-table-container">
            <div class="small-heading">
                Relationship History
            </div>

            <table class="parcel-history">
                <thead>
                <tr>
                    <th>Version</th>
                    <th>Date updated</th>
                    <th>Tenure Type</th>
                    <th>Area (meters)</th>
                    <th>Length (meters)</th>
                    <th>Description</th>

                </tr>
                </thead>
            </table>
            <div class="parcel-history-data relationship">
                <table>
                    <tbody>
                    <tr ng-repeat="rh in relationship_history">
                        <td>{{rh.properties.version}}</td>
                        <td>{{rh.properties.time_updated | emptyString}}</td>
                        <td>{{rh.properties.relationship_type}}</td>
                        <td>{{rh.properties.area | number:2 | emptyString}}</td>
                        <td>{{rh.properties.length | number:2 | emptyString}}</td>
                        <td>{{rh.properties.description | emptyString}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Relationship resources-->
<div class="history-container">
    <div class="parcel-history">
        <div class="small-table-container">
            <div class="small-heading">
                Relationship Resources
            </div>
            <md-button class="md-icon-button right parcel-page-layout" aria-label="More">
                <div class="md-menu-demo">
                    <div class="menu-demo-container" layout-align="center center" layout$="column">
                        <div class="menus" layout-wrap layout="row" layout-align="space-between center">
                            <div layout="column" flex="33" flex-sm="100" layout-align="center center">
                                <md-menu md-offset="0 -7">
                                    <md-button aria-label="Open resource menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                        <i class="material-icons">more_vert</i>
                                    </md-button>
                                    <md-menu-content width="2">
                                        <md-menu-item>
                                            <md-button ng-click="showAddResourceModal($event)"> Add Resource </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </div>
                        </div>
                    </div>
                </div>
            </md-button>
            <table class="parcel-history">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>View</th>
                </tr>
                </thead>
            </table>
            <div class="parcel-history-data relationship">
                <table>
                    <tbody>
                    <tr ng-repeat="r in resources">
                        <td>{{r.properties.file_name}}</td>
                        <td>{{r.properties.description}}</td>
                        <td>{{r.properties.time_created}}</td>
                        <td><a href="{{r.properties.url}}">Download</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

