<div id="project-tabs">
    <ul class="nav nav-pills">
        <!-- Go back to project overview page, not parent overview-->
        <li ui-sref-active="active" ui-sref="tabs.overview.project-overview" ng-click="setTab('Overview')">
            <a>OVERVIEW</a>
        </li>
        <li ui-sref-active="active" ui-sref="tabs.map" ng-click="setTab('Map')" ng-show="showTabs">
            <a>MAP</a>
        </li>
        <li ui-sref-active="active" ui-sref="tabs.parcels" ng-click="setTab('Parcels')" ng-show="showTabs">
            <a>PARCELS</a>
        </li>
        <li ui-sref-active="active" ui-sref="tabs.relationships" ng-click="setTab('Relationships')" ng-show="showTabs">
            <a>RELATIONSHIPS</a>
        </li>
        <li ui-sref-active="active" ui-sref="tabs.parties" ng-click="setTab('Parties')" ng-show="showTabs">
            <a>PARTIES</a>
        </li>
        <li ui-sref-active="active" ui-sref="tabs.resources" ng-click="setTab('Resources')" ng-show="showTabs">
            <a>RESOURCES</a>
        </li>
        <li ui-sref-active="active" ui-sref="tabs.activity" ng-click="setTab('Activity')" ng-show="showTabs">
            <a>ACTIVITY</a>
        </li>

    </ul>
</div>

<div class="tabcontent well-lg" sticky-state="tabs.overview" class="col-sm-6"></div>
<div class="tabcontent well-lg" sticky-state="tabs.map" class="col-sm-6"></div>
<div class="tabcontent well-lg" sticky-state="tabs.parcels" class="col-sm-6"></div>
<div class="tabcontent well-lg" sticky-state="tabs.parties" class="col-sm-6"></div>
<div class="tabcontent well-lg" sticky-state="tabs.relationships" class="col-sm-6"></div>
<div class="tabcontent well-lg" sticky-state="tabs.resources" class="col-sm-6"></div>
<div class="tabcontent well-lg" sticky-state="tabs.activity" class="col-sm-6"></div>
