#project-nav-bar {
    padding-left: 25px;
    padding-top: 40px;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {

    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    background: none;
    background-color: #eef2f5;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    font-family: 'Open Sans', sans-serif;;
    font-size: 12px;
}


.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.wrapper {
    box-shadow: none;
}

#summary-stats {
    height: 200px;
}

#big_map {
    position: relative;
    width: 100%;
    height: 500px;
}

/*table {*/
/*text-align:center;*/
/*border: 1px solid #dcdfe1;*/
/*width:90%*/
/*}*/

.inline-block {
    display: inline-block;
}

.home-breadcrumb {
    cursor: pointer;
}

#sub-nav {
    display: none;
    position: relative;
    font-size: 12px;
    background-color: white;
    text-align: left;
    border: 1px solid #dcdfe1;
    border-bottom-style: none;
    width: 150px;
    top: 6px;
    right: 28px;
    z-index: 1;
    float: right;
}

#sub-nav .dropdown-item {
    padding: 10px 25px;
    border-bottom: 1px solid #dcdfe1;
    cursor: pointer;
    font-weight: 500;
}

#sub-nav .dropdown-item:hover {
    color:#256C97;
    background:#f8f9f9;
}

.toolbar {
    margin: 0;
    background-color: white;
    padding: 10px;
}

#package_read_title {
    height: 150px;
    width: 100%;
}

.btn-list {
    display: inline-block;
    float: right;
    position: relative;
}

.project-summary-stats {
    font-size: 20px;
}

.span9 {
    margin-left: 0;
    width: 100%;
    padding: 0;
}

.page-header {
    margin-left: 0;
    background-color: white;
    padding: 0;
}

subtab {
    text-align: left;
    padding-left: 50px;
    line-height: 50px;
    background-color: #B6B8B4;
    border: 1px solid #8B8C8A;
    color: black;
}

#project-extent {
    border: 1px solid #dcdfe1;
    width: 291px;
    height: 291px;
    display: inline-block;
    float: right;
}

#small_map {
    position: relative;
    width: 100%;
    height: 100%;
}

#parcel_map {
    position: relative;
    width: 100%;
    height: 100%;
}

#project-content {
    margin: 0;
    padding: 0;
    /*background-color: #eef2f5;*/
}

#project-content ul {
    padding: 0;
    margin: 0;
}

.project-title {
    font-size: 18px;
    color: #2d3644;
    display: inline-block;
    padding-top: 18px;
    padding-bottom: 20px;
    padding-left: 25px;

}

#project-title {
    border-bottom: 1px solid #dcdfe1;
}

.span3 {
    width: 100%;
    margin: 0;
    margin-top: 13px;
    /* min-height:220px; */
    margin-bottom: 50px;
}

ul {
    list-style-type: none;
}

/* top nav toolbar */

.masthead-header {
    background-color: #2d3644;
    height: 45px;
    text-align: center;
}

header .header-container {
    width: 100%;
    height: 45px;
    position: absolute;
}

#header-container-inner {
    height: 45px;
    width: 1024px;
    margin: auto;
}

#header-container-inner .container-header {
    height: 25px;
    margin: 10px;
}

.masthead-header span {
    padding-right: 35px;
    display: inline-block;
    float: left;
}

.masthead-header ul li {
    padding-right: 35px;
    display: inline-block;
    float: left;
}

.masthead-header ul li a {
    color: #c7c7c7;
    font-weight: 700;
    font-size: 12px;
    display: inline-block;
    height: 30px;
    text-decoration: none;
}

.masthead-header ul li:hover {
    border-bottom: 1px solid #fff;
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;

}

.masthead-header ul li a:hover {
    color: #fff;
    text-decoration: none;
}

.row {
    margin-left: -20px;
}

#content {
    width: 860px;
}

li {
    display: inline-block;
}

.block {
    display: block;
}

.bold {
    font-weight: bold;
}

.link {
    color: #3c95c1;
}

.toolbar .breadcrumb a {
    font-size: 10px;
    font-family: 'Open Sans';
    color: #256c97;

}

.toolbar .breadcrumb {
    padding: 0;
    margin: 0;
    background-color: white;
    height: 25px;
    line-height: 0;
}

.toolbar {
    padding: 0;
    border-top: 1px solid #dcdfe1;
    border-left: 1px solid #dcdfe1;
    border-right: 1px solid #dcdfe1;
}

.project-control-buttons-right {
    display: inline-block;
    float: right;
    padding-top: 18px;
    padding-right: 25px;
}

.project-control-buttons-right span {
    margin-left: 8px;
}

#project-nav-bar li {
    vertical-align: bottom;
    margin-right: 40px;
}

.section .site-search .simple-input {
    display: inline;
}

#project-nav-bar li a {
    color: #2d3644;
    font-weight: semi-bold;
    text-decoration: none;

}

#project-nav-bar li a:hover {
    color: #256c97;
    font-weight: bold;
    border-bottom: 2px solid #256c97;
    text-decoration: none;
}

#project-nav-bar li a:active {
    color: #256c97;
    font-weight: bold;
    border-bottom: 2px solid #256c97;
    text-decoration: none;
}

#content {
    background-color: #eef2f5;
    margin-bottom: 50px;
}

.module-content:last-child {
    background-color: #f8f9f9;
    border: 1px solid #dcdfe1;
    margin-bottom: 0;
    padding-bottom: 0;
}

#main-div {
    background-image: none;
    background-color: #eef2f5;
    height: auto;
}

.nav-tabs {
    border-bottom: none;
}

header .page-header-new {
    border: 1px solid #dcdfe1;
    height: 135px;
}

ul, ol {
    padding: 0;
    margin: 0;
}

.masthead .nav-collapse {
    width: 800px;
    float: right;
    background-color: yellow;
}

form .lang-select {
    margin: 0;
    display: inline-block;
}

.field {
    margin: 0;
}

#language-selector {
    margin-left: 20px;
    padding-top: 16px;
}

.search-field {
    padding-left: 50px;
    padding-top: 45px;
    margin: 0;
    padding-bottom: 0;
}

.resource-block {
    display: block;
    width: 90%;
    height: 35px;
}

#field-sitewide-search {
    width: 100px;
}

#header-logo {
    padding-left: 20px;
    float: left;
}

#header-profile-options {
    padding: 2px 10px 2px 0px;
    float: right;
    display: flex;
    position: relative;
}

#nav-items {
    margin: 3px 0px 0px 0px;
    height: 25px;
}

.toolbar .breadcrumb li:after {
    content: "";
    padding: 0;
    margin: 0;
    font-size: 8px;
    font-weight: bold;
}

input[type="text"] {
    margin: 0;
}

.search-box-field {
    padding-bottom: 5px;
    padding-left: 40px;
}

.table {
    margin: auto;
    margin-bottom: 20px;
}

.table tr th {
    font-size: 12px;
    color: white;
    background-color: #51617A;
    font-weight: 400;
    text-align: center;

}

.table tr {
    border-bottom: 1px solid #dcdfe1;
    border-top: 1px solid #dcdfe1;
}

.table tr td {
    font-size: 10px;
    color: black;
    background-color: white;
    text-align: center;
}

#project-result-text {
    padding-left: 20px;
    font-size: 14px;
}

#all-rights-reserved {
    padding-top: 16px;
}

.header-container span ul li {
    padding-right: 0;
    margin-right: 35px;
    margin-bottom: 10px;
    height: 21px;
    cursor: pointer;
}

.header-container span ul li:hover {
    border-bottom: 2px solid white;
    text-decoration: none;
}

.header-container span ul li.active a {
    text-decoration: none;
    color:white;
}

.header-container span ul li.active {
    border-bottom: 2px solid white;
}

.search-form .control-order-by {
    margin-right: 20px;
}

.dataset-list {
    padding-bottom: 20px;
}

.toolbar .breadcrumb .active a, .toolbar .breadcrumb a.active {
    font-weight: 500;
    color: #8b8b8b;
    cursor: default;
}

#profile_options {
    margin-right: 20px;
    display:inline-block;
}

#profile_options :hover {
    cursor: pointer;
}

#about-button {
    margin-right: 25px;
    display:inline-block;
}

.sub_nav_active {
    color: #256c97;
    font-weight: bold;
    border-bottom: 2px solid #256c97;
    text-decoration: none;
}

.add-project-element.icon-icon_add_parcel {
    position: relative;
    top: 20px;
    right: -70px;
    float: right
}

.filter-box {
    background-color: white;
    padding: 20px;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a {
    border: none;
    color:  #256c97;
}

.sort-box {
    margin-right: 20px;
}

.search {
    float: right;
}

.login-block {
    border: 1px solid #dcdfe1;
    padding-bottom: 40px;
    text-align: center;
}

.secondary-login-block {
    background-color: white;
    border: 1px solid #dcdfe1;
    height: 50px;
    text-align: center;
}

.loginMaskRow {
    width: 370px;
    margin: 15px auto;
    height: 50px;
    border: 1px solid #DBDBDA;

}

.loginMaskLabel {
    font-size: 16px;
}

.loginMaskInput {
    width: 300px;
    padding-left: 20px;
    position: relative;
    z-index: 2;
    border-style: solid;
    border-radius: 0;
    float: right;
    height: 40px;
}

.loginMaskInput input:focus {
    border: none;
    outline: 0;
}

.loginMaskRow:hover {
    border: 1px solid #256C97;
}

.loginMaskRow:active {
    border: 1px solid #256C97;
}

.add-account-button {
    padding-top: 18px;
}

.cadasta-button {
    background-color: #256C97;
    border: none;
    color: white;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 600;
    padding: 6px 10px;
    font-size: 10px;
}

.edit-user-button-group {
    margin: 0px 10px 30px 63px;
}

.cadasta-button.edit-user-button {
    margin: 0px 10px 0px 0px;
}

.cadasta-button:hover {
    color: white;
    background-color: #0d4252;
}

.span9 .login-block {
    background-color: white;
}

#field-remember {
    float: none;
}

#field-login {
    height: 40px;
    border-radius: 0;
    border: none;
    border: 1px solid #cccccc;
}

input[type=checkbox] {
    position: relative;
    top: 0;
    padding: 0;
    margin: 0;
}

#field-password input:focus {
    border: none;
    outline: 0;
}

#project-nav-bar li.active-nav {
    color: #256c97;
    font-weight: bold;
    border-bottom: 2px solid #256c97;
    text-decoration: none;
}

#content .project_content_inner_wrapper {

    background-color: #fff;
    padding: 20px;
    border: 1px solid #DBDBDA;

}

input[type="text"].register-input {
    width: 356px;
    height: 40px;
    border: none;
}

input[type="text"].register-input :focus {
    outline: 0;
}

.filter-box .filter-group {

}

.filter-group label, .filter-group select {
    display: inline;
}

.filter-box .left {
    float: left;
}

.filter-box .right {
    float: right;
}

.login-block textarea:focus, .login-block input[type="text"]:focus, .login-block input[type="password"]:focus, .login-block input[type="datetime"]:focus, .login-block input[type="datetime-local"]:focus, .login-block input[type="date"]:focus, .login-block input[type="month"]:focus, .login-block input[type="time"]:focus, .login-block input[type="week"]:focus, .login-block input[type="number"]:focus, .login-block input[type="email"]:focus, .login-block input[type="url"]:focus, .login-block input[type="search"]:focus, .login-block input[type="tel"]:focus, .login-block input[type="color"]:focus, .login-block .uneditable-input:focus {
    border-color: #5EA9DD;
}

.login-block textarea, input[type="text"], .login-block input[type="password"], .login-block input[type="datetime"], .login-block input[type="datetime-local"], .login-block input[type="date"], .login-block input[type="month"], .login-block input[type="time"], .login-block input[type="week"], .login-block input[type="number"], .login-blockinput[type="email"], .login-block input[type="url"], .login-block input[type="search"], .login-block input[type="tel"], .login-block input[type="color"], .login-block .uneditable-input {
    border: 1px solid #CCCCCB;
}

.login-block .error-block, .login-block select, .login-block textarea, .login-block input[type="text"], .login-block input[type="password"], .login-block input[type="datetime"], .login-block input[type="datetime-local"], .login-block input[type="date"], .login-block input[type="month"], .login-block input[type="time"], .login-block input[type="week"], .login-block input[type="number"], .login-block input[type="email"], .login-block input[type="url"], .login-block input[type="search"], .login-block input[type="tel"], .login-block input[type="color"], .login-block .uneditable-input {
    height: 40px;
    line-height: 40px;
    border-radius: 1px;
    margin: auto;
}

.login-block .form-horizontal .control-group {
    margin-bottom: 30px;
    display: block;
    width: auto;
}

.login-block .form-horizontal .control-group.control-medium {
    padding-left:0;
}

.login-block .form-horizontal .controls {
    margin-left: 0px;
}

.login-block .form-horizontal .control-label {
    display: none;
}


.login-block form {
    margin: 20px 0 20px;
}

/* Add to CKAN flash-messages area for upload file messages*/
.flash-messages.success {
    -webkit-box-shadow: 0 0 0 1px #ffffff;
    -moz-box-shadow: 0 0 0 1px #ffffff;
    box-shadow: 0 0 0 1px #ffffff;

    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;

    padding: 10px;
}

.flash-messages.err {
    -webkit-box-shadow: 0 0 0 1px #ffffff;
    -moz-box-shadow: 0 0 0 1px #ffffff;
    box-shadow: 0 0 0 1px #ffffff color : #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;

    padding: 10px;

}

.parcel-details-table {
    border: none;
    margin: 0 20px 20px 20px;
    background-color: white;
}

.parcel-details-table th {
    color: #444444;
    background-color: white;
    text-align: left;
}

.parcel-details-table td {
    color: #444444;
    background-color: white;
    text-align: left;
    line-height: 35px;

}

.parcel-details-content {
    display: inline-block;
    text-align: left;
    font-size: 10px;
    border: 1px solid #dcdfe1;
    text-align: top;
    vertical-align: top;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    background-color: white;
    width: 100%;
}

.right {
    float: right;
    margin-right: 20px;
}

.project-primary-block {
    /*border: 1px solid #dcdfe1;*/
    background-color: white;
    padding: 20px;
    /* todo this should be updated so that the div expands as needed */
    overflow: auto;
    height: 300px;
}

.header-primary {
    background-color: white;
    height: auto;
    min-height: 500px;
}

.parcel-details-content .small-heading {
    margin: 20px 0 0 20px;
}

.parcel-details-content .parcel-details-table {
    width: 90%;
}

#parcel-details-overview {
    height: 150px;
    margin: 15px;
    color: rgb(93, 93, 93);
}

#parcel-details-overview .details-title {
    font-weight: bold;
}

#parcel-details-overview .details-data {
    margin: 0px 0px 0px 10px;
}

#parcel-details-overview .details {
    margin: 15px 0px;
}

#parcel-details-overview .inline-details {
    display: flex;
}

#parcel-details-overview table {
    margin: 20px;
}

#parcel-details-overview .id-title {
    font-size: 24px;
    text-transform: uppercase;
    color: rgb(108, 112, 116);

}

#parcel-details-overview .owner {
    font-size: 16px;
    padding: 0px 0px 10px 0px;
}

.overview-background {
    margin: 0 auto;
    /*min-height:411px;*/
    background-color: white;
    border: 1px solid #dcdfe1;
}

.overview-background .parcel-details-return {
    margin: 20px 12px 20px 10px;
    font-weight: bold;
}

.form_upload_content {
    width:800px;
}

#activity-list li div {
    display: inline-block;
    margin-top: 9px;
}

#summary-list {
    margin: 10px 0 0 25px;
}

#summary-list li {
    width: 60%;
}

.profile-options-dropdown {
    width: 140px;
    height: 120px;
    float: right;
}

.control-full.error-block {
    width: 85%;
    margin-left:64px;
}

.control-label {
    font-weight: 500;
    float: left;
    display: block;
    width: 100%;
    margin: 30px 20px 0 0;
}

.controls.editor {
    width: 85%;
    margin: 0 auto;
}

.controls.editor #field-notes {
    margin-left: 64px;
}

.control-group.control-medium {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding-left: 64px;
    /*margin-top:20px;*/
}

.form-horizontal .controls {
    margin: 0;
}

.slug-preview {
    display: none;
}

.form-horizontal .control-label {
    display: inline-block;
    margin: 0;
    width: 100%;
    float: left;
    text-align: left;
}

.control-group.control-full .control-label {
    margin: 0 0 9px 65px;
}

.control-group .control-label {
    margin: 0 0 9px 64px;
}



.controls #field-name {
    width: 98%
}

.controls #field-title {
    width: 85%;
    margin-left: 64px;
}

.controls #s2id_field-organizations{
    width:85%;
    margin-left:64px;
}

.control-group .controls #field-private {
    margin-left:64px;
}

/*.save-new {*/
    /*margin: 20px 0 30px 504px;*/
/*}*/

.save-new .cadasta-button {
    margin: 20px 0;
}

.save-new.org {
    padding:6px 0 105px 0;
}
.save-new.org .cadasta-button-simple {
    position: relative;
    left: -36px;
    font-size: 12px;
}

.save-new .cadasta-button.save-org {
    margin: 38px 64px 0 -62px;
    float:right;
}


.control-required-message {
    margin: 51px 0 0 64px;
    width: 150px;
    display: inline-block;
}



.page-heading.project {
    margin: 20px 0 20px 305px;
}

.no-nav .module:last-child {
    margin-top: 0;
    background-color: white;
    border: 1px solid #dcdfe1;
}

.controls > .radio:first-child, .controls > .checkbox:first-child {
    padding-top: 5px;
    font-weight: 400;
}

.user-headers {
    font-size: 24px;
    font-weight: 500;
    color: #256C97;
    font-family: 'Open Sans', sans-serif;
}


.page-heading {
    padding-top: 20px;
    color: #256C97;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
}

.module h1.page-heading {
    position: relative;
    width: 100%;
    text-align: center;
}

.module h1 {
    margin-bottom: 0;
}

.page-heading.register {
    margin: 20px 0 20px 0;
}

.editor .editor-info-block {
    display: none;
}

.editor textarea {
    border-bottom: 1px solid #CCCCCB;
}

/* Footer */
#master-footer {
    border-top: 1px solid #dcdfe1;
    height: 50px;
    color: black;
    background-color: #eef2f5;
    margin: auto;
    width:100%;
    margin-top:20px;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#master-footer .container-footer {
    margin: 0 auto;
    width: 954px;
    height: 30px;
}

.pull-right {
    float: right;
    margin-right: 70px;
    padding-top: 12px;
}

.right-footer {
    float: right;
    position: relative;
    top: 9px;
    right: 70px;
}

.container-footer .pull-left {
    margin-top: 14px;
    height: 30px;
}

.red {
    background-color: red;
}

.left {
    float: left;
}

.media-grid {
    margin: 0;
    list-style: none;
    padding: 0;
    border: none;
    height: initial !important;
}

.media-view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
     border:none;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
     -webkit-border-radius: 0;
    -moz-border-radius: 0;
     border-radius: 0;
}


.span9 div.module-content {
    padding: 0;
}

.module-content:last-child {
    border:none;
    margin: 0;
    padding: 0;
}

.search-form {
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: none;
}

.search-form .filter-list {
    margin:0;
}

#project-list {
    font-size: 12px;
    position: relative;
    background-color: white;
    border-left: 1px solid #dcdfe1;
    border-right: 1px solid #dcdfe1;

}


#project-list .project-row {
    width: 100%;
    border:none;

}

#project-list table {
    text-align: left;
    width: 100%;
    margin: auto;
    background-color: #fff;
}

#project-list table td {
    padding-left:20px;
}

#project-list .project-row tr {
    border-bottom: 1px solid #dcdfe1;
    height: 110px;
}

.search-form .search-input.projects {
    position: relative;
    margin-bottom: 20px;
    width: 200px;
    display: inline-block;
    float: right;

}

.media-heading {
    font-size:14px;
}

.add-project-header .add-project {
    height: 50px;
    float: right;
    margin: -5px 0 0 0;
}

.add-project-header .add-project .cadasta-button{
    margin-top:0;
}

.add-project-header {
    height: 75px;
    padding: 40px 20px 0 20px;
    background-color:#f8f9f9;
}

.add-org {
    height: 50px;
    float: right;
    margin: 6px 20px 0 0;
}


.breadcrumb li a {
    position: relative;
    bottom: 7.5px;
    font-weight: 600;

}

#breadcrumb .icon-home {
    font-size: 16px;
    bottom: 5.5px;
    color: #256c97;
    position: relative;
}

.module {
    margin:0;
}

.add-project-header {
    border: 1px solid #dcdfe1;
}

.page_primary_action {
    margin-bottom: 0;
}

.org-header {
    font-size: 18px;
    color: #2d3644;
    display: block;
    padding-top: 18px;
    padding-bottom: 20px;
    padding-left: 25px;
    height: 86px;
    border-left: 1px solid #dcdfe1;
    border-right: 1px solid #dcdfe1;
    border-top: 1px solid #dcdfe1;
    background-color: #f8f9f9;
}

.org-tab-header {
    padding-left: 25px;
    border-left: 1px solid #dcdfe1;
    border-right: 1px solid #dcdfe1;
    background-color: #f8f9f9;

}

.org-tab-header li {
    margin-right: 40px;
    cursor: pointer;
}

.org-tab-header li a {
    color: #2d3644;
    font-weight: 400;
    font-size: 12px;
}

.org-tab-header  li.active {
    border-bottom: 2px solid #256c97;
}

.org-tab-header li.active * {
    color: #256c97;
    text-decoration: none;
    font-weight: 700;
}

.org-tab-header li:hover * {
    text-decoration: none;
    color: #256c97;
    border-style: none;
}

.org-tab-header li:hover {
    border-bottom: 2px solid #256c97;
}

.icon-lnr-chevron-right.arrow-right.ckan {
    font-size: 27px;
    color: #dcdfe1;
    position: relative;
    bottom: 1px;
    width:auto;
}

/*org list page*/
.project-row {
    border-bottom: 1px solid #dcdfe1;
    border-left: 1px solid #dcdfe1;
    border-right: 1px solid #dcdfe1;
}

.project-row tr {
    height: 110px;
}

.project-row .org-logo img {
    max-height: 80px;
    max-width: 100px;
    margin: 0 20px 0 18px;
}

.project-row .org-logo {
    width:138px;

}

.project-row .org-title {
    width:500px;
}

#org-list {
    /*max-height: 500px;*/
    overflow: auto;
}

#org-list .project-row {
    background-color:white;
}


.image-upload .control-group {
    margin-left:64px;
 }

.custom .control-label {
    padding-left: 0;
    margin: 0 0 9px 0;
}

.cadasta-new-project {
    border-left: 1px solid #dcdfe1;
    border-right: 1px solid #dcdfe1;
    border-bottom: 1px solid #dcdfe1;
    min-height: 800px;
    height: auto;
    background-color: white;
}


.create-new-buttons {
    height: 100px;
    margin-top: 35px;
    padding-bottom: 25px;
}

.create-new-buttons .cadasta-button {
    float: right;
    top: 20px;
    position: relative;
    right: 65px;
}

#organization-edit-form {
    border: 1px solid #dcdfe1;
    border-top:none;
}


#organization-edit-form .control-group .control-label {
    margin:10px 0 9px 0;
}

#organization-edit-form .control-group.control-full {
    margin: 0 0 0 64px;
}

#organization-edit-form .controls.editor {
    width: 100%;
}

#organization-edit-form #field-description{
    width: 92%;
}

.new-addition-title {
    border: 1px solid #dcdfe1;
    background-color: #f8f9f9;
    font-size: 18px;
    color: #2d3644;
    display: inline-block;
    padding-top: 18px;
    padding-bottom: 20px;
    padding-left: 25px;
    width:833px;
}

.org-title .black-title-link {
    font-size: 16px;
    font-weight: bold;
}


.control-large .control-label {
    font-size: 12px;
}

.control-large input, .control-large .control-label {
    font-size: 12px;
}

.control-full .error-block {
    width: 83%;
    margin: 0 auto;
}

.image-upload a {
    background-color: #256C97 !important;
    border: none;
    color: white !important;
    padding: 10px 25px 10px 0;
    margin: 10px 0 0 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: none;
    font-weight: 600;

}

.image-upload a:hover {
    background-color: #0d4252 !important;
    border: none;
    color: white !important;
    padding: 10px 25px 10px 0;
    margin: 10px 0 0 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: none;
    font-weight: 600;
}

.btn {
    display: inline-block;
    font-size: 12px;
    line-height: 5px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.select2-choice {
    box-shadow: none;
    background:none;
    background-image:none;
}

.cadasta-button-simple {
    background-color: transparent;
    color:  #256C97;
    border-bottom: 1px solid;
    font-size:16px;
}

.cadasta-button-simple:hover {
    color: #0d4252
}

.create-new-buttons a.cadasta-button-simple {
    position: relative;
    top: 48px;
    left: 572px;
    font-size: 12px;
}

.save-new .cadasta-button-simple {
    position: relative;
    left: -66px;
}



.projects.project-title {
    display: inline-block;
    padding: 45px 0 20px 25px;
    width: 100%;
}


.projects.project-title a {
    font-size: 16px;
    font-weight: 700;
}


.js .image-upload #field-image-url {
    max-width: 700px;
}

.js .image-upload .btn {
    position: relative;
    top: 0;
    margin-right: 10px;
    background-color: #256C97;
    border: none;
    color: white;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 600;
    padding: 6px 20px 9px 0px;
    text-align: center;
    font-size: 10px;
}

input[type="text"] {
    font-size:12px;
    font-family: 'Open Sans', sans-serif;
}

input, button, select, textarea {
    font-family: 'Open Sans', sans-serif;
}

label {
    cursor: pointer;
    font-size: 12px;
}

.control-group.control-full.control-large.cadasta-input.title label {
 margin:34px 0 5px 65px;
}


.org-header .icon-icon_edit:before {
    font-size: 30px;
}

.org-header a {
    position: relative;
    top: 31px;
    padding-left: 35px;
    float: left;
    font-size: 12px;
    font-weight: 400;
}

#splash-overlay {
    background-color:rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 200px;
    bottom: 5%;
    text-align: center;
}

#splash-overlay .icon-logo_header:before {
    font-size:150px;
    opacity:1;
}

#splash-overlay div {
    font-size:40px;
    opacity:1;
    color:white;
    font-weight: 300;
}

#splash-page img {
    width: 100%;
    height: 100%;
    overflow-x:hidden;
}

#splash-page {
    width:100%;
    height: 100%;
}

.userpage .module-content {
    border: 1px solid #dcdfe1;
    padding: 20px;
}

#projectList{
    font-size: 12px;
    width: 100%;
    max-height: 400px;
    overflow: auto;
    margin-bottom: 10px;
}

#projectList table{
    text-align: left;
    width: 98%;
    margin: auto;
    background-color: white;
}

#projectList table *{
    padding-left:20px;
}

#projectList th {
    height: 30px;
}

#projectList tbody tr {
    border-bottom: 1px solid #dcdfe1;
    border-left: 1px solid #dcdfe1;
    border-right: 1px solid #dcdfe1;
    height: 50px;
}

#projectList .last-table-element {
    border-bottom: none;
}

#projectList tbody {
    height:200px;
    overflow-y: auto;
}

#project-table-header {
    text-align: left;
    width: 98%;
    margin: auto;
    background-color: white;
}


#project-table-header th {
    font-size: 12px;
    color: white;
    background-color: #51617A;
    font-weight: 400;
    text-align: left;
    padding: 8px;
    line-height: 20px;
    padding-left: 20px;
}

#project-list table td {
    width: 400px;
}

#project-list table td:first-of-type {
    width:215px;
}

#project-list table td:last-of-type {
    width:160px;
}


#project-list-table-header th:first-of-type {
    width:215px;
}

#project-list-table-header th:last-of-type {
    width:160px;
}

.userpage .cadasta-round-button {
    background-color: #256c97;
    color: #fff;
    font-weight: 600;
    position: relative;
    top: 12px;
    background-color: rgb(37, 108, 151);
    padding: 6px 10px;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
}


.userpage .cadasta-round-button:hover {
    background-color: #0d4252;
}

.userpage .small-heading {
    color: #256c97;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    padding:15px 0 15px 10px
}




#project-list-table-header {
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: white;
}

#project-list-table-header th {
    font-size: 12px;
    color: white;
    background-color: #51617A;
    font-weight: 400;
    text-align: left;
    padding: 8px;
    line-height: 20px;
    padding-left:20px;
}

.control-label[for="field-image-upload"] {
    float: none;
}

/*.btn.btn-danger.btn-remove-url {*/
    /*background-image: url("/images/url-x.jpg");*/
    /*height: 16px;*/
    /*width: 8px;*/
    /*border-radius: 1;*/
    /*margin-bottom:10px;*/
    /*margin-left:5px;*/
/*}*/

.btn.btn-danger.btn-remove-url .icon-remove{
    visibility: hidden;
    position: absolute;
}

.btn.btn-danger.btn-remove-url {
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    margin-bottom: 17px;
}
.btn.btn-danger.btn-remove-url:before {
    content: "×";
}



.active-org-nav {
    color: #256c97;
    border-bottom: 2px solid #256c97;
    margin-right: 40px;
}

.org-breadcrumb {
    font-weight: 600;
    color: #8b8b8b;
    font-size: 10px;
    position: relative;
    bottom: 7.5px;
    cursor:pointer;
    font-weight: 600;
}

.active.org-breadcrumb {
    color: #8b8b8b;
    cursor: default;
}

.org-header img {
    max-height: 87px;
    max-width: 130px;
    float: left;
}

.org-header span {
    position: relative;
    top: 30px;
    left: 25px;
    font-weight: bold;
    float:left;
}

#org-members-add {
    border: 1px solid #dcdfe1;
    height: 365px;
    padding-left: 26px;
    padding-right: 10px;
}

#org-members-add .control-group .control-label{
    margin:0;
}

#org-members-add a.heavy {
    font-weight: 700;
}


.page_primary_action #org-members-add {
    height: 80px;
    width: 858px;
    border: 1px solid #dcdfe1;
    border-bottom:none;
    padding:0;
}


#member-table {
    border-left:1px solid #dcdfe1;
    border-right:1px solid #dcdfe1;

}


#member-table th {
    padding-left: 10px;
    text-align: left;
}

#member-table td {
    text-align: left;
    font-size: 12px;
    padding-left:10px;
}

#member-table .manage-button {
    font-size: 12px;
    color: #256C97;
    font-weight: 700;
}

#member-table .manage-button:hover {
    color: #0d4252;
}

#member-table .manage-button.red-button:hover {
    color: red;
}


.cancel {
    float: right;
    top: 49px;
    position: relative;
    right: 86px;
    font-size: 14px;
    color: #444444;
}



.control-group.cadasta-input.visibility {
    display: inline-block;
    margin-right: 117px;
}


#field-province_state, #field-url, #field-orgURL {
    width:305px;
}

.control-group.control-medium.cadasta-org-input.margin-top {
    margin-top:20px;
}

.ckan-active-breadcrumb {
    font-weight: 500;
    color: #8b8b8b;
    cursor: default;
    font-size: 10px;
    bottom: 8px;
    position: relative;
}


#user-edit-form .control-group .control-label {
    margin: 0 0 9px 0;
}

#user-edit-form fieldset {
    border: 1px solid #dcdfe1;
}

#user-edit-form .control-group.control-full {
    margin-left:65px;
}

#user-edit-form .user-margin-left {
    margin-left:62px;
}

.modal-footer .btn + .btn {
    color: #333333;
    text-shadow: none;
}

.modal-footer .btn.btn-primary {
    color: #333333;
    text-shadow: none;
}

.modal-footer .btn.btn-cancel {
    color: #333333;
    text-shadow: none;
}

.modal-footer .btn.btn-primary:hover {
    background-color: #E8E8E8;
    text-shadow: none;
}

.js .image-upload #field-image-upload{
    margin: 20px 0 0 0;
}

.controls #field-image-upload {
    cursor:pointer;
}


#organization-edit-form .image-upload label {
    display:none;
}

#organization-edit-form .cursor a {
    pointer:cursor;
}


.image-label {
    margin: 17px 0 -14px 65px;
}

#usersName {
    color: white;
    font-weight: 600;
    padding-right: 20px;
}