/**
 * Mobile related styles - April 2016
 */

header {
    width: 100% important;
}

body {
    min-width: 320px !important;
    width: auto !important;
}

.navbar-inverse {
    background-color: #2d3644 !important;
    text-align: center;
}

.nav > .active > a {
    background-color: #2d3644 !important;
}

.navbar-toggle {
    background-color: #2d3644 !important;
    padding-top: 5px !important;
    margin-right: 50px !important;
}

.navbar-brand {
    float: left;
    height: 45px;
    padding: 15px 15px;

}

.nav > li > a {
    position: relative;
    height: 25px;
    padding: 0px 0px 0px 0px !important;
}

.nav > li > a:hover {
    background: transparent !important;
}

.nav > li {
    position: relative;
    margin: 5px 0px 0px 25px !important;
}

.nav > li.active > a {
    border-bottom: 2px solid white;
}

.collapse {
    position: relative;
    height: 0;
    overflow: hidden;
}

.collapse .in {
    display: block;
    background-color: #2d3644 !important;
}

.navbar .nav {
    position: relative;
    display: block;
    margin: 10px 0px 5px 0px;
}

.navbar-right {
    margin-right: 22px !important;
}

.dropdown-menu {
    min-width: 100px !important;
    max-width: 160px !important;
    margin-top: 11px !important;
}
.dropdown-menu:before {
    display: none !important;
}

.dropdown-menu:after {
    display: none !important;
}

li.dropdown {
    border: 0px !important;
}

ul.dropdown-menu > li:hover {
    border-bottom: 0px !important;
}

ul.dropdown-menu > li > a:hover {
    background: transparent;
    font-weight: 400;
    text-decoration: underline;
}

.dropdown-toggle{
    background-color: transparent !important;
}

.dropdown-menu>li>a:hover {
    display: block;
}

/* Dialog responsiveness */
md-dialog {
    margin-top: 2em;
}

.cadasta-modal {
    margin-top: 3em !important;
}

.form_upload_content {
    width: 100% !important;
}

md-content {
    width: 100%;
}

md-content.add-parcel-extra-fields md-input-container.notes {
    width:100% !important;
}

md-content.add-parcel-extra-fields md-input-container.notes textarea {
    width: 100% !important;
}

/* container styles */

@media (max-width: 992px){
    #content {
        width:100% !important;
        min-width: 320px !important;
        min-width: 320px !important;
    }
    .container-fluid {
        width: 100%;
        padding-right: 0px !important;
        padding-left: 0px !important;
        margin-right: auto;
        margin-left: auto;
        min-width: 320px !important;
    }
    .container-fluid {
        min-width: 320px !important;
    }
    #header-logo {
        padding-left: 0px !important;
        margin-left: -15px !important;
    }
    .navbar-brand {
        margin-left: 8px !important;
    }
    body {
        min-width: 320px !important;
    }
    .navbar-right {
        margin-right: 8px !important;
    }
    #parcelButtons > a.md-button {
        margin-left: 1em;
    }
}


@media (max-width: 768px){
    #content {
        width:100% !important;
        min-width: 320px !important;
    }
    .container-fluid {
        width: 100%;
        padding-right: 0px !important;
        padding-left: 0px !important;
        margin-right: auto;
        margin-left: auto;
        min-width: 320px !important;
    }
    .container-fluid {
        min-width: 320px !important;
    }
    body {
        padding-right: 0px !important;
        padding-left: 0px !important;
        min-width: 320px !important;
    }
    #header-logo {
        padding-left: 0px !important;
        /*margin-left: 20px !important;*/
    }
    .navbar-brand {
        margin-left: 8px !important;
    }
    .mini-overview {
        width: 100% !important;
        clear: both !important;
        margin-bottom: 1em !important;
    }
    #project-desc {
      margin-bottom: 1em !important;
    }
    button#addParty {
        margin-top: 1em !important;
    }
}



@media (max-width: 767px){
    ul.nav li {
        border: 0px !important;
        clear: both !important;
        margin-left: 32px !important;
    }
    .nav > li.active > a {
        border: 0px !important;
    }
    #header-logo {
        padding-left: 0px !important;
        margin-left: 20px !important;
    }
    #usersName {
        display: none;
    }
    .navbar-right {
        clear: both;
    }
    .search-form .search-input.projects {
       margin-left: 65px;
    }
    .mini-overview {
        width: 100%;
        clear: both;
    }
}
