{#
Displays a list of projects.

packages       - A list of packages to display.
list_class     - The class name for the list item.
item_class     - The class name to use on each item.
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).
show_remove    - If True, show the remove button to remove the project/dataset association.

#}
{% block package_list %}
  {% if packages %}
{% block package_list_inner %}

    <div class="media-grid" data-module="media-grid" style="height: auto !important;">
        <div id="project-list">
            {% for package in packages %}

            {% snippet 'project/snippets/project_item.html', package=package, item_class=item_class, truncate=truncate, truncate_title=truncate_title, show_remove=show_remove %}

            {% endfor %}

        </div>
    </div>
{% endblock %}

  {% endif %}
{% endblock %}
